[2020-05-10 10:07] oliof opened #1 "Add arc welder settings to gcode comments"
Hi,
it would be useful if postprocessed gcode files would reflect the settings used to prostprocess in the comments gcode file, just like slicers add their settings. Something like

[code]

[2020-05-10 14:55] FormerLurker commented on #1
Yes.  Yes it would.  Great idea, I will do this.

[2020-05-10 16:38] FormerLurker commented on #1
This has been completed, thanks for posting and for your pull requests!

[2020-05-10 16:38] #1 closed

[2020-07-14 17:59] furynick opened #5 "Lot of artifacts"
I tried post-processing on a circular part:
![render_image_original](https://user-images.githubusercontent.com/3520080/87459497-bf9e8b80-c60b-11ea-8eba-f4859c74aade.png)

 but the result is very "noisy"
![render_image_welded](https://user-images.githubusercontent.com/3520080/87459606-e2c93b00-c60b-11ea-8d3b-0d86348d6498.png)

Original g-Code is attached
[CabochonEchelle.zip](https://github.com/For

[2020-07-14 18:06] FormerLurker commented on #5
My guess is that your viewer isn't working, though it could be some problem with c++ compilation on your system (I'm relatively new to cross-platform development).  Try viewing your gcode in simplify3d.  Here's what I see after conversion:

![image](https://user-images.githubusercontent.com/33363128/87460700-df658d80-c5d2-11ea-83ca-f3573f22c14b.png)

[2020-07-14 18:20] furynick commented on #5
You're right, g-Code looks fine with Simplify visualizer ... I'll try to print it.

[2020-07-14 20:34] furynick commented on #5
Simplify doesn't have gyroid nor archimedean (yet), waiting for v5 ...

Print successfull !

[2020-07-14 20:34] #5 closed

[2020-07-14 20:50] FormerLurker commented on #5
You could try Slic3r (or Prusa Slicer) or Cura too.  Anyway, enjoy the app!

[2020-09-23 22:12] cdkeito opened #6 "Actions -> artifacts"
Hi,
can you rebuild the artifacts as they are expired?

[2020-09-23 22:31] #6 closed

[2020-09-23 22:31] cdkeito commented on #6
solved

[2020-11-06 16:38] FormerLurker opened #8 "Enahnce arc direction detection"
Arc direction detection has been a bit hairy in previous versions.  It rarely failed, but the method of verification caused some smaller segments not to be converted.  The routine relied on a constant, which limited accuracy.

Alter detection routine so that it can detect more arcs without generating one that has the wrong rotation.

Add a direction test that allows the arc to be repaired if the d

[2020-11-06 16:40] FormerLurker opened #9 "Add path tolerance percent argument"
Add a new argument/parameter to all relevant libraries and applications to set a maximum deviation in path length as a percentage of the original length.  This gives one greater control on what is acceptable deviation in terms of path length.

This should not be set too low, since an arc path will always have a different length than a segmented path, and most (all?) firmware will turn the arc back

[2020-11-06 16:41] FormerLurker opened #10 "Enahnce progress output for console application"
Output progress so that it can be easily parsed by a calling application.

[2020-11-06 16:42] FormerLurker opened #11 "Enhance console argument error detection"
Detect argument errors and output to stderr.  Detect potential argument issues and output as warnings to std.

[2020-11-06 16:43] #11 closed

[2020-11-06 16:43] #10 closed

[2020-11-06 16:43] #9 closed

[2020-11-06 16:43] #8 closed

[2020-11-06 16:44] FormerLurker opened #12 "Implement firmware retraction detection"
This is partially implemented currently.  Fully implement this.

[2020-11-06 16:45] FormerLurker opened #13 "Add best fit curve algorithm"
Further improve the curve fitting by reducing the maximum deviation in steps.  Allow this to be enabled/disabled, and provide an argument for determining the number of steps.

[2020-11-06 23:19] TodWulff commented on #12
you looking at using a print start script (akin to how OctoLapse sets its retraction) to suck those out of the slicer, or to acquire the retraction settings in some other manner?

[2020-11-07 02:18] FormerLurker commented on #12
I don't think firmware retraction is usually controlled by the slicer, but if it is then a gcode will be added.  Octolapse recognizes the gcode and acts appropriate.  The slicer retraction settings would still apply in that case.

[2020-11-07 02:21] FormerLurker commented on #12
Excuse me.. arc welder.  Octolapse does too, lol.  Since arc welder doesn't need to retract, all that I need to know is that the filament is retracted.  Bonus points if I know how much because you never know what kind of stull a user will pull, like using firmware retract and the detracting manually ( i have seen this) so I don't know where the filament is without knowing the firmware settings.

[2020-11-07 06:37] TodWulff commented on #12
Yeah, I overlooked the 'FW' aspects of the issue's language...

You're having to deal with a multitude of different firmwares which is a big undertaking.

Out of curiosity (for the marlin builds), I looked at configuration.h and configuration_adv.h.   Seems the extruder related settings in the FW is somewhat limited.  If there is value in getting them detailed, I can provide same for my printer's

[2020-11-07 23:55] yysh12 opened #14 "Cura Script"
You should include a folder here that allows users to easily import your script into their favorite slicer. The console app by itself needs a wrapper essentially to interface with cura for example. Here is something I wrote and which is working for me. I don't know to how to parallelize it however, so that is something someone with better python knowledge can do.
[ArcWelder.zip](https://github.com

[2020-11-08 18:22] FormerLurker opened #15 "Improve curve fitting by testing all points, moving out from the center."
The previous Arc Welder algorithm created an arc from the middle point when determining if an arc fit the current points.  The new algorithm should check all points.

In a future version I hope to check by length and not by the index of the point.

[2020-11-08 18:25] FormerLurker opened #16 "Add github versioning information to cmake."
Automatically generate a header file containing version and build information to be included in the repository.

[2020-11-08 18:26] FormerLurker commented on #13
I tried this, and it did NOT improve much at all.  Not worth the time currently.  Will consider trying this again in the future.

[2020-11-08 18:26] #13 closed

[2020-11-08 18:56] FormerLurker commented on #14
very interesting!  I wasn't sure if it would work by reading in the data one layer at a time, so i will have to test this a bit before I include it.  I will do this once I finish what I'm working on.

[2020-11-08 19:07] yysh12 commented on #14
Yeah sure. If the the layer by layer doesn’t work you can just modify it to write it all into a single temporary file and then process it in one go. But the benefit of layers is multiprocessing for large files. Unfortunately my python is limited so I wouldn’t know how to do that.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: FormerLurker <notifications@github.c

[2020-11-08 19:20] FormerLurker commented on #14
@yysh12,

That would be a last resort due to the potential for running multiple processes.  I will definitely try that out.  Exciting :)

[2020-11-09 02:49] yysh12 commented on #14
Sounds good! I look forward to it!

[2020-11-13 21:36] fieldOfView commented on #14
It would be great if PyArcWelder could add a method to convert and return a string of gcode commands, instead of having to go the route of writing and reading back files.

[2020-11-13 23:39] FormerLurker commented on #14
I will give it a go, but I fear It would negate much of the speed benefit of using c++.  I'll have to try it but I know it takes a lot of time to unpack them according to my previous tests, but since I may be able to process many layers at the same time maybe it will end up being faster.  Writing the individual lines from python to a file can't be very fast either though...

[2020-11-14 07:49] fieldOfView commented on #14
Alternatively, I can create a plugin that - instead of saving the gcode to a temp file layer-by-layer - assembles the full gcode file and hands it to your postprocessor in one go. I just want to make it run after all other gcode postprocessing has been done, because other postprocessors might rely on the data being available layer-by-layer which it won't after your postprocessor is done.

[2020-11-14 08:30] fieldOfView opened #17 "Missing license"
This project seems to be missing a license. Is the license the same AGPL as the ArcWelderPlugin?

[2020-11-14 13:27] yysh12 commented on #14
Oh my god. It's the legendary fieldofview! You've written almost every plug-in I use in Cura. I tip my hat off to you kind sir! Your plugins are what actually make Cura usable and user friendly.

[2020-11-14 14:05] fieldOfView commented on #14
Blush. I find @FormerLurker's work quite legendary myself...

I'm not quite sure; the Global Interpreter Lock in python might complicate things.

[2020-11-14 15:24] FormerLurker commented on #14
@fieldOfView,

The dreaded GIL....  Worst thing in python.  I've been looking into using multiple processes.  It will be tricky, but worth it.

So, here's what I'm thinking.  It would be best to supply cura with the list of layers as it expects. This gives us the opportunity for parallelism and would allow cura to show the resulting gcode.  This obviously won't work well with cura's visualizer, bu

[2020-11-14 16:06] fieldOfView commented on #14
To mitigate this for the time being, the normal preview after slicing does not actually show gcode, but specially formed layer data. Postprocessing does not happen until the gcode gets saved, sent or printed. So after slicing, Cura will just display its non-arced G0/G1 data.

It is when loading a gcode file back in that Cura actually parses gcode, and then G2/G3 will become an issue. An issue that

[2020-11-14 16:12] FormerLurker commented on #14
What do you think the odds of getting the visualization fixed are?  I think it would be great if Cura updated the visualization to show the G2/G3 codes just like it does with other preprocessing scripts.

[2020-11-14 16:28] fieldOfView commented on #14
If someone (like me) implements it, the odds that it gets merged are fairly high. If we ask Ultimaker devs to spend time on it, the odds are slim to zero. Let me get a plugin working first, and worry about the visualisation later.

Order of things to do:
* get initial plugin working with temp files and get it on the Marketplace
* fix visualisation in Cura
* work on getting your arc-fitting code in

[2020-11-14 19:58] f1vefour commented on #15
It's great to see you are still looking for new optimizations to make this awesome tool better.

[2020-11-14 20:03] f1vefour commented on #14
Thank you FoV for raising this enhancement idea, it definitely would be nice to have this functionality.

[2020-11-20 07:54] fieldOfView commented on #14
It is early days, but here's the start of a plugin:
https://github.com/fieldOfView/Cura-ArcWelderPlugin

All layers are assembled into a single file, processed by ArcWelderConsole and split into layers again.

My Linux virtual machine ate itself, so the binary for ArcWelderConsole for Linux is missing.

[2020-11-20 12:23] fieldOfView commented on #14
An easy to install development snapshot can be downloaded here:
[Cura-ArcWelderPlugin](https://storage.googleapis.com/ultimaker-cura-packages/v1/packages/ArcWelderPlugin/7wr6g2Y4-LBkbJ5N93GlRtFaiXQbWI9Lbkbuhl2nn3VT/ArcWelderPlugin-v7.0.0-2020-11-20T12%3A18%3A22Z.curapackage?Expires=1921234721&GoogleAccessId=cura-packages-api-production%40stardust-193112.iam.gserviceaccount.com&Signature=dLAdwppplk

[2020-11-20 22:17] yysh12 commented on #14
Very nice!

[2020-11-20 22:49] FormerLurker commented on #14
Cool, will try it out asap!

[2020-11-20 22:52] FormerLurker commented on #14
Oh, I just added a new option to the console application in the devel branch, ```-z``` or ```--allow-z-axis-changes``` which will produce arcs across all 3 axes (for spiral vase mode).  It's NOT supported by all firmware, and is experimental, but might be a nice addition as long as it includes some warning.  Here's the notes from the console app:

(experimental) - If supplied, z-axis changes will

[2020-11-21 13:05] fieldOfView commented on #14
I'll add an option for that the next time I get to update the binaries. I can detect if the spiral vase mode is used, and only allow setting the Arcwelder option then.

[2020-11-23 14:28] FormerLurker commented on #17
Hi @fieldOfView!  This slipped through the cracks, sorry.  I will update the license as soon as I have a chance.  I intend to use AGPL2.

[2020-11-23 14:31] FormerLurker opened #18 "Add Firmware Compensation for Older Arc Interpolation"
Some firmware, especially those based on an older version of Marlin, have only the MM_PER_ARC_SEGMENT setting to control arc interpolation.  The default value is 1mm, which can result in noticeably flat edges on smaller arcs.  This can be somewhat compensated for within the arc generation routine at the cost of less compression.

Add two new command line parameters to the console app:

--mm-per-ar

[2020-11-23 14:38] FormerLurker opened #19 "Add firmware setting parameters to the inverse processor."
Previously the inverse processor had hard-coded firmware simulation parameters.  This is because that project is primarily used to test either gcode produced by ArcWelder, or to simulate various firmware changes I've been tinkering with.  However, I recently found it useful to add the available parameters to the console app, and maybe others will too.

Here is what can currently be controlled (not

[2020-11-30 23:54] ETE-Design commented on #14
@fieldOfView Is the  "easy to install development snapshot" always newest version when downloading?

[2020-12-01 08:50] fieldOfView commented on #14
Actually, no it isn't. Here's the latest [development snapshot](https://storage.googleapis.com/ultimaker-cura-packages/v1/packages/ArcWelderPlugin/7wr6g2Y4-LBkbJ5N93GlRtFaiXQbWI9Lbkbuhl2nn3VT/ArcWelderPlugin-v7.0.0-2020-11-30T10%3A46%3A32Z.curapackage?Expires=1922172544&GoogleAccessId=cura-packages-api-production%40stardust-193112.iam.gserviceaccount.com&Signature=CJEtq4AMA1wAHYkZKByEK1rjduZgDVQot

[2020-12-02 02:34] golfromeo-fr commented on #14
I have tested AW with octoprint and it is interesting but I am putting my files on SD card to print so if I had a script to create the *.aw.gcode from PrusaSlicer.

note: rounded models gets "compressed" a lot but as expected "square" models/layers are not "compressed" at all

[2020-12-06 14:38] adoeller opened #20 "CPU load too hight during printing"
When arc welding during printing, the print process comes to a stop or starts stutter.

I did no "top" during arc welding, beause ssh does not work on my raspberry anymore, but maybe a "nice" value for the welding process prio would mitigate the problem?

Cheers,
Alex

[2020-12-06 15:50] FormerLurker commented on #20
This has already been handled in the devel branch code, which I am working to release ASAP.  The new behavior is that as soon as a print starts, any processing gcode within ArcWelder is stopped and added back to the front of the processing queue.  When the print ends, the gcode in the queue will begin processing again.

[2020-12-11 08:50] DBa2016 opened #21 "ArcWelder and ArcStraithener from release binaries fail on Win10"
Both ArcWelder.exe and ArcStraightener.exe exit without producing any output (no error message either) on Windows 10. Is there any special instruction to be followed when launching them?

[2020-12-11 14:17] FormerLurker commented on #21
The mingw versions are broken.  Are you using the msvc build?  How are you running it?  Screen cap of oitput maybe?

[2020-12-11 15:36] DBa2016 commented on #21
Yes, using MSVC build, plain starting from command line. There is no output at all - after few seconds, the execution just returns to cmd.exe.

[2020-12-11 15:40] FormerLurker commented on #21
Can you paste in an example of how you are calling it please?

[2020-12-11 20:16] DBa2016 commented on #21
![grafik](https://user-images.githubusercontent.com/20729632/101950772-1da0c080-3bf6-11eb-8e28-eb8bf8275205.png)

[2020-12-13 20:54] FormerLurker opened #22 "Add precision parameters"
Add parameters to control allow_dynamic_precision, default_xyz_precision, and default_e_precision to handle issues with bad gcode output producing obscene precision.  This was not a problem with the arc welder library, per se, but the resulting gcode could overflow some firmware buffers depending on the precision.

Defaults:
allow_dynamic_precision - false
default_xyz_precision - 3
default_e_preci

[2020-12-13 20:57] FormerLurker opened #23 "Fix rounding issue that could produce values of 0 for both I and J"
Reject all arcs where both I and J would be 0 based on the current resolution.

[2020-12-13 20:59] FormerLurker opened #24 "Enahnce double to string performance"
About 20-25 percent of the processor's time goes to turning doubles into strings.  Enhance this by modifying fpconv to produced fixed precision rounded output (similar to ```std::ostringstream << std::fixed << std::setprecision(x)```).

Note:  This has been implemented, and has cut down on processing time by around 20%!

[2020-12-13 20:59] FormerLurker opened #25 "Replace pow(x,2) with x * x for performance reasons"
Pow is very slow for simple x^2 operations.  Find and replace them all.

[2020-12-13 21:00] FormerLurker opened #26 "Pre-calculate tolerance values"
Some inner loops are calculating tolerance values from precision values.  This takes too long.  Pre-calculate this when precision is updated.

[2020-12-13 21:01] #22 closed

[2020-12-13 21:02] #26 closed

[2020-12-13 21:02] #25 closed

[2020-12-13 21:02] #24 closed

[2020-12-13 21:02] #23 closed

[2020-12-13 21:03] FormerLurker commented on #20
Hey, since this is a duplication and in the wrong repo, I'm going to close this.  You can track the status of the next arc welder plugin release at http://github.com/formerlurker/arcwelderplugin.

Thanks!

[2020-12-13 21:03] #20 closed

[2020-12-13 21:03] #19 closed

[2020-12-13 21:03] #18 closed

[2020-12-13 21:04] FormerLurker commented on #15
Thanks @f1vefour!  I've just made some more major improvements ;)

[2020-12-13 21:04] #15 closed

[2020-12-18 07:57] susisstrolch opened #27 "ArcWelder fails with UnicodeEncodeError: 'ascii' codec can't encode character"
OS: Linux
Environment: Cura Version: 4.8 master (Mark Burdon), Cura-mb-master-x86_64-20201121.AppImage
Cura-ArcWelder plugin: https://github.com/5axes/Cura-ArcWelderPlugin
ArcWelderLib: d3376dd37104846f9125c06bfd42807e21859351

Welding a G-code containing Unicode characters (like '°C') fails (see also https://github.com/FormerLurker/ArcWelderPlugin/issues/84).
[code]

[2020-12-18 08:26] susisstrolch commented on #27
Addendum: this happens because I also use @5axes post processing script https://github.com/5axes/Cura-Postprocessing-Scripts/blob/master/GCodeDocumentation.py which creates a G-Code comment header like:
[code]
So, as a temporary personal workaround I'll add a search & replace postprocessor which simply filters out the '°' character.

[2020-12-18 09:21] 5axes commented on #27
In this case could be more simple to modify the script and remove the unit export
`new_line = new_line + GelValStr + " " + str(GetUnit)`  -> `new_line = new_line + GelValStr`

[2020-12-18 12:04] susisstrolch commented on #27
@5axes are you talking about the GCodeDocumentation script?

[2020-12-18 15:39] FormerLurker commented on #27
I just fixed a unicode issue not too long ago (oh, I see you linked to that).  Will take a look.

[2020-12-18 16:06] susisstrolch commented on #27
Hmm, in pyhelper I saw you use defines to distinguish between python version.
So it may happen that the python on my machine, which is used for compilation, has a different version than the py comming with the Cura appimage which in fact may lead to different results.

[2020-12-18 16:11] FormerLurker commented on #27
@susisstrolch, thanks for taking a look at the c code.  I am always happy to have another set of eyes.  However, that gets compiled within the setup.py that runs in OctoPrint's venv if you are using Octoprint (you aren't, are you?).  The pyhelper code doesn't get included in the console app's exe since it isn't a dependency.  I see you posted the version of arcwelderlib you are using.  Did you get

[2020-12-18 16:30] susisstrolch commented on #27
Yep, that was from linux console, running a self compiled version, via "ArcWelder --help".

[2020-12-18 19:40] FormerLurker commented on #27
@susisstrolch,

What compiler did you use?  That would be helpful for testing.  I'm in the middle of setting up a remote debugger now.  What a pain, lol!

[2020-12-19 09:40] susisstrolch commented on #27
Ok, here are the steps I did to compile:
[code]
And here's the cmake output:
[code]
And here's the make output:
[code]

[2020-12-22 14:37] ETE-Design commented on #14
@fieldOfView How is it going, is it in the markedplace yet, or do you have a newer version than the latest you linked to?

[2020-12-22 14:43] fieldOfView commented on #14
Sorry, I forgot to mention here that the plugin was accepted for the marketplace (yesterday).

[2020-12-22 14:46] yysh12 commented on #14
Woo! Congrats! Should we close this issue or would @fieldOfView and @FormerLurker  prefer to leave it open for dialogue?

[2020-12-23 02:51] TodWulff opened #28 "[Feature Request] Embedded GCode Parameter/Cmd to cache and save AW Console Output to generated file."
Good day.  The thought is a request to enable console output to be cached and then written into the output gcode generated by AW.  This behavior could triggered by an embedded gcode AW Script Comment - think of how you're catching slicer config by way of comments on Octolapse.  The reason for this is that when AW is called from the Cura Plugin, the console output is seemingly lost to the ethers on

[2020-12-27 23:01] FormerLurker opened #29 "Add advanced arc detection"
This feature will slow down arcwelder a bit (10-15% more time to process), but should prevent many rare but annoying issues that can be caused by the sliced gcode traveling in an arc motion over the same spot one or many times. I honestly didn't think this was possible, but I believe it can happen if the 'overlap' percentage is so high that arcs totally overlap within the selected resolution. As a

[2020-12-28 15:49] FormerLurker commented on #29
Implemented, closed!

[2020-12-28 15:49] #29 closed

[2020-12-28 15:49] FormerLurker commented on #16
This has been implemented.  Closed!

[2020-12-28 15:49] #16 closed

[2020-12-28 15:59] FormerLurker commented on #27
@susisstrolch, what version of the code did you compile?  I ran that header through the ArcWelder.exe in windows and here is the result:

[code]

That's pretty much what I was expecting.  My guess is this is an issue with the cura plugin, probably a py2/py3 compatibility issue perhaps?  Try downloading the latest pre compiled binary artifacts and see if they work for you and let me know.

[2020-12-28 16:02] FormerLurker commented on #21
@DBa2016, can you try just running it with no parameters and see if it complains?  Then, try running it with the --help flag.

The exe does require the [Visual C++ Redistributable](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)  (I need to document this....), so maybe make sure that is installed, and if not download and install it from the link.  Let me k

[2020-12-28 16:04] FormerLurker commented on #28
There can be way more console output than gcode, so I don't think I want it to go there.  You could ask the cura plugin creator to allow output redirection, or you could call the exe yourself and redirect the output.  In windows the command would be:

[code]

That will save the output to a file.

[2020-12-28 17:58] FormerLurker commented on #14
@fieldOfView, you may want to check out the new artifacts.  I've been getting reports of issues in cases where Cura produces gcode that extrudes over the same path multiple times.  Not sure if that's a bug in the slicer (seems like it is all coming from 4.7 gcode), or just settings related (overlap percentage very high), but in any case the new artifacts have some advanced error detection that see

[2020-12-28 18:02] ETE-Design commented on #14
@FormerLurker Is Marlin's Standard settings still the best to use to get the best result? Or do you have some settings you recommend?

[2020-12-28 18:04] FormerLurker commented on #14
@ETE-Design, the defaults for Marlin 2+ should produce excellent results as long as arcs are enabled.  Just make sure you are installing Marlin 2.0.6+

[2020-12-31 20:36] FormerLurker commented on #14
@yysh12, did you intend to reopen this?

[2020-12-31 21:30] yysh12 commented on #14
Oh sorry! I must’ve hit it without noticing. I’ll close again.

[2020-12-31 21:30] #14 closed

[2021-01-03 20:26] FormerLurker commented on #21
@DBa2016, I just finished creating an exe for windows that has all the static libraries included in the file.  Try [downloading this build](https://github.com/FormerLurker/ArcWelderLib/suites/1759533024/artifacts/33499772) and see if this helps.  Let me know, thanks!

[2021-01-03 20:28] FormerLurker commented on #28
I'm going to close this out @TodWulff .  Sorry that I won't be implementing your feature request, but I want to thank you for proposing it!  Please feel free to request other features in the future!

[2021-01-03 20:28] #28 closed

[2021-01-08 10:12] fieldOfView commented on #27
https://github.com/5axes/Cura-ArcWelderPlugin is a fork of https://github.com/fieldOfView/Cura-ArcWelderPlugin. The latter has a this issue fixed here:
https://github.com/fieldOfView/Cura-ArcWelderPlugin/commit/2edee70f07aa493737bd5dff2ab5567ec167fd33

[2021-01-08 14:19] FormerLurker commented on #27
@fieldOfView, OMG, I totally missed that in the issue description.  Thank you so much for that great catch :)  I spent a lot of time trying to figure out what was going on here, lol!

@susisstrolch, I'm going to go ahead and close this since it is not related to the arc welder algorithm or binaries.  Thanks for posting!

[2021-01-08 14:19] #27 closed

[2021-01-08 19:29] bvrielink commented on #21
@FormerLurker Where are we supposed to put those files? I found ArcWelder.exe here: C:\Users\XXX\AppData\Roaming\cura\4.8\plugins\ArcWelderPlugin\ArcWelderPlugin\bin\win64. But there is no ArcStraightener.exe. Is it new? Also there is no lib directory. So do we create it under C:\Users\XXX\AppData\Roaming\cura\4.8\plugins\ArcWelderPlugin\ArcWelderPlugin or under C:\Users\XXX\AppData\Roaming\cura\4

[2021-01-08 19:34] bvrielink commented on #21
Tried to put the libs under C:\Users\XXX\AppData\Roaming\cura\4.8\plugins\ArcWelderPlugin\ArcWelderPlugin\lib\win64 and C:\Users\XXX\AppData\Roaming\cura\4.8\plugins\ArcWelderPlugin\ArcWelderPlugin\lib put don't see any ArcWelder thingy in Cura.

[2021-01-08 19:43] FormerLurker commented on #21
@bvrielink,

This actually should be a question aimed at the Cura Arcwelder plugin, which I did not create and I do not maintain.  However, I believe I can answer this one.

The Cura plugin uses a binary produced by this repository:  ArcWelder.exe

That exec wraps the arc welder algorithm in an application that can be called from the command line.  The 'Cura ArcWelder Plugin' (again, not my softwa

[2021-01-08 19:49] bvrielink commented on #21
@FormerLurker Sorry. Didn't know someone else is maintaining it. Will look at the plugin page.

[2021-01-08 20:32] FormerLurker commented on #21
@bvrielink, NP, I would help if I knew more about it!  I am a bit ashamed that I don't, in fact.  I will try to get it running for myself ASAP.

[2021-01-17 13:34] fieldOfView commented on #21
@bvrielink look at this issue at the plugin repository:
https://github.com/fieldOfView/Cura-ArcWelderPlugin/issues/6
There's a development snapshot of the plugin there, which includes a dependency which may be missing from your installation.

[2021-01-17 13:52] Protryon opened #30 "Distance check should be per segment, not for an entire arc."
So, I've been copying some of the core logic for this project as a DXF welder for laser cutting/CNC machining from OpenSCAD.

One of the tweaks I've identified that is highly effective in maintaining accuracy, but making longer, sharper-angled arcs is to not track expected length for an entire arc-in-progress, but to calculate the nominal arc length for the angular distance between the last point

[2021-01-17 20:28] FormerLurker commented on #30
Very interesting, I will definitely dig into this.

I did want to mention that a few things have changed probably since you started working on your implementation:

1.  I've switched from using a fixed deviation (say in mm) from the original path and the arc path length to using a change percentage.  I'm calling this the path tolerance percent.  This seemed to be better at handling very small arcs

[2021-01-17 22:15] FormerLurker commented on #30
Ok, I fixed a typo and did some cleanup and have pushed the code I mentioned to the devel branch in case you would like to take a look.

[2021-01-18 10:21] fieldOfView opened #31 "Build artefacts for OSX crash with a segfault"
The build artefacts for OSX are not working. This seems to be caused by the buildprocess, because if I create a build on my local system the executable works fine.

Here's the output from `lldb` trying to run the ArcWelder command on a simple gcode file:
[code]
Unfortunately, the build artifacts are not debug builds, so it is hard to see what exactly is going wrong.

[2021-01-18 19:30] FormerLurker commented on #31
@fieldOfView, I could generate a debug build I think.  Better still would be to download the latest devel code and run this on a debugger.  It should build on Visual Studio Code as long as you install the cmake extension and set the build to debug.  I really need to get myself a mac :(

I just configured a raspberry pi 4 to run visual studio code, and have been doing some debugging and performance

[2021-01-19 10:06] fieldOfView commented on #31
To be clear: when I clone the repo (master branch) and do a build on OS X, the resulting binary works just fine. It is just the automated builds that fail with a segfault and produce the above output when run in the lldb debugger.

I tested this on a VM running on a Windows host, because I don't have a recent mac either. I did confirm that the automated binaries segfault and the binaries I build w

[2021-01-19 20:31] FormerLurker commented on #31
That is excellent.  Can you capture the output of your compiler?  I'd like to see what compiler you are using, as well as the flags.  I tried to create an action to build with gcc instead of clang (I know nothing about clang), but for whatever reason it still build with clang (possibly due to caching).  Going to keep trying.

Yes, that's exactly what I need to do.  I have been having some problems

[2021-01-21 13:10] fieldOfView commented on #31
Here's a terminal dump of me checking out and building the ArcWelderLib repository (with some newlines added in for readability).

[code]

[2021-01-23 16:04] FormerLurker commented on #31
Thank you VERY much @fieldOfView!  This was helpful.  I noticed some static linking that wasn't happening with clang, and did get g++ working (even though I previously though that failed).  Can you [try the artifacts here](https://github.com/FormerLurker/ArcWelderLib/actions/runs/494477196) and see if you get the segfault please?  Fingers crossed...

[2021-01-23 16:11] FormerLurker commented on #31
Actually, I may have spoken too soon...  The binaries are identical in size, which likely means nothing has changed.  Also, the linking I thought I didn't see in the clang build was due to a case sensitive search, so it was already doing that.  It doesn't really look like specifying gcc did anything.  Going to have to go through the log line by line and see if I can spot any differences.

[2021-01-23 16:22] fieldOfView commented on #31
No dice, unfortunately.

[code]

[2021-01-24 20:42] FormerLurker opened #32 "Feedback for V1.1.0"
Please let me know if you've used the new build of ArcWelder or any of the associated libraries.  I would love to know what you like, what you don't, what you love, and what you hate.  If you have discovered any bugs, please mention those here.  I may ask you to create a separate issue for any newly discovered bugs.

Thank you all so much!  Without you all I couldn't have done this, and I'm feelin

[2021-01-25 11:21] fieldOfView commented on #32
Here's a new [development snapshot](https://storage.googleapis.com/ultimaker-cura-packages/v1/packages/ArcWelderPlugin/zzHJfdU_udY4lWeMO9r9Ha-zSXKtZbLMRyRejKldEXtt/ArcWelderPlugin-v7.0.0-2021-01-25T11%3A08%3A03Z.curapackage?Expires=1926932894&GoogleAccessId=cura-packages-api-production%40stardust-193112.iam.gserviceaccount.com&Signature=N8jg1rq3JW0q%2BeRHxmIRNaq5Lb87wH0yEoUrNUB6jLMAkVWlnKGGSHsnnqW

[2021-01-25 13:58] FormerLurker commented on #32
Thanks for the spelling catch, and the new files!  I will take a look and upload after work.

[2021-01-25 14:29] FormerLurker commented on #32
@fieldOfView, I went ahead and attached your mac build (thank you so much for that!) and corrected the raspbian release (Raspberry_Pi_OS).  Looking much better now.  I'm looking forward to trying out the development snapshot.  Will provide feedback on that.

[2021-01-25 23:20] egar0 commented on #32
Just downloaded v1.1.0 for my MacBook (MacOS 11.1) and it ran without a hitch.  I have not yet printed the resulting gcode, but looking over the gcode, I would expect it to work.  v1.0.0 did not run on my Mac and had the segfault error that is in issue #31.

[2021-02-01 21:42] mrx23dot commented on #21
Latest one runs on win10

[2021-02-01 21:48] mrx23dot opened #33 "[FR] G5 Bezier cubic spline"
It might worth adding a branch for G5 interpolation for playing around.

This study compares G1 (linear) / G2_3 (arc) / G5 (cubic spline) movements and concludes:
https://www.sciencedirect.com/science/article/pii/S2351978919311059

- G1 causes resonance because of sharp movements
- G2_3 were fastest
- G5 is 2nd fastest, but most precise and smallest gcode https://marlinfw.org/docs/gcode/G005.html

[2021-02-01 22:10] FormerLurker commented on #21
@mrx23dot, thanks for getting back to me!  Going to close this out since it looks like the c++ Visual C++ Redistributable is not longer needed.  Joy!

[2021-02-01 22:10] #21 closed

[2021-02-01 22:26] FormerLurker commented on #33
@mrx23dot,  ulendo looks like it is firmware, is it not?  Not sure what's going on there, but it looks like maybe their motion planner is not only based on segments, like marlin.  I've actually been thinking about this as well, and it makes sense.  Curves are predictable all along the path of the curve, but you never know where the next G1 is going to take you :)

Regarding G5, I've thought about

[2021-02-01 22:56] mrx23dot commented on #33
Thanks for considering. We need to have goals to have a bleeding edge version :)
https://marlinfw.org/docs/gcode/G005.html has a nice interactive demo what to expect from it.

I was mainly considering it for klipper (with the power of pi4) that gives you high speed out of the box, but since I saw it in marlin I thought I mention it. It easy to bottleneck marlin even on 32bit SKR at high feedrate.

[2021-02-01 23:08] FormerLurker commented on #33
Less than a year ago, that was arcwelder, lol!  I agree though.

I wish more people knew this.  I hear so many people claiming there are 0 planner issues when printing from SD, even though there is plenty of evidence (side-by-sides using G2/G3 vs G1, surface defect before/afters, print time comparisons, etc..).  I often feel like I'm wasting my breath when I try to explain otherwise.  There is a l

[2021-02-02 09:19] mrx23dot commented on #33
It's easy to see that 32bit+marlin can be a bottleneck, if you turn up the feedrate the LCD becomes unusably slow (to a point where you cannot stop your print).

Meanwhile as proof of concept is it possible to use arcwelder to round sharp moves/corners with arcs?
It would act like a low pass filter. And mechanically speaking it would produce lower G forces so speed/acceleration could be turned up.

[2021-02-02 09:32] 5axes commented on #33
Funny, it reminds me of discussions in the 1990s about CNC controls and the ability of CAD/CAM software to generate circular, linear or spline interpolations. Finally 30 years later the CNCs have evolved, the integrated processing speeds and digital compressor have made this problem disappear completely and the generation of G1 trajectories is no longer a problem.  I bet it will be the same thing

[2021-02-02 16:49] mrx23dot commented on #33
Looks like someone already beat us to it (although it was abandoned 6years ago)

https://hackaday.io/project/7045-splinetravel
download: https://github.com/DeepSOIC/SplineTravel
create a 'presets' named folder next to the exe.
Try to slice it, if it fails uncheck 'seam concealment'
https://github.com/DeepSOIC/SplineTravel/wiki/Travel-re-generator-settings
https://github.com/DeepSOIC/SplineTravel/w

[2021-02-02 17:27] FormerLurker commented on #33
@mrx23dot, thanks for the link!  I'll take a look and see what it does.  However based on this statement:

[code]
I don't think it's doing exactly what we think it's doing.  I also can't find 'G5' anywhere in the code, but I found 'G1'.  I will try it out and see what it's doing.

FYI, when I started arc welder, I found other projects that were attempting to do what arc-welder is doing, but none t

[2021-02-02 19:31] mrx23dot commented on #33
Yeah, that implementation is just a proof of concept, it suppose to smoothen moves, but still keep compatibility with G1, so fast possible tool path but big files, thus it will need a klipper at least, maybe marlin+PC host.
Worst case we could run an arcwelder on it. (800KB -> 12MB)

It does some weird stuff that's for sure, maybe it was only ment to be for big/simple objects?
![weird](https://use

[2021-02-02 20:08] DeepSOIC commented on #33
Hi, SplineTravel author here, if you have any questions i can answer them.

So far, i have not really understood what your project is about.

SplineTravel does not use G5, it tessellates splines into straight-line segments (G1-s).

[2021-02-02 20:24] mrx23dot commented on #33
Cheers for joining, the goal is to take gcode and fit splines over points
- to remove sharp corners/turns (in order to increase/maintain speed/acceleration)
- and possibly reduce file size by storing splines in G5. (like ArcWelderLib merges G1 lines into G2/G3 arcs)

To prove the concept I found your tool for point 1 (even tough it works with G1).
But based on the images above it looks like it was

[2021-02-02 20:57] DeepSOIC commented on #33
Fitting a spline through some points is a very well solved problem, look for "bspline interpolation". Splinetravel was designed for 3d-printing, where there are print moves (head moves and deposits plastic, movement can be pretty fast) and travel moves (head is repositioning to the next place where it is to start moving and depositing plastic).

Print moves need to be executed precisely, but trave

[2021-02-02 21:09] DeepSOIC commented on #33
It seems to me you want to join a bunch of g1-es into some splines (g5), and that is totally NOT what splinetravel is about. SplineTravel modifies travel trajectory so that it looks nothing like the original, because the trajectory of travel doesn't matter, as the extruder isn't depositing plastic.

[2021-02-02 21:41] mrx23dot commented on #33
Sorry, my bad.

Meanwhile I found a few packages for spline fitting used in CNC.
https://github.com/OpenNurbsFit/OpenNurbsFit
https://github.com/pradeep-pyro/tinynurbs
https://github.com/orbingol/NURBS-Python
- pip install --user geomdl.cli
- download https://github.com/orbingol/geomdl-examples
- python ex_curve01.py gives
![ex_curve01](https://user-images.githubusercontent.com/4163396/106666173-2

[2021-02-02 21:59] FormerLurker commented on #33
@DeepSOIC, thanks for participating, and providing your insights.  I was pretty sure (though I didn't have enough time to dig in) that your project was not related to what we are attempting.  Feel free to continue if you are so inclined, but in any case, I was delighted to see you pop in!

[2021-02-02 22:15] FormerLurker commented on #33
@mrx23dot, the problem isn't fitting the points (though it is something that would need to be dealt with), but rather ensuring our constraints on the fit are met.  I've yet to find a similar feature in any of the libraries I've looked at, though admittedly I don't really know much about this, so maybe I overlooked something obvious.  I haven't looked at splines since college (I wrote a function fi

[2021-02-03 16:37] mrx23dot commented on #33
Simple enough
- you have to input the control points that you think are not on a line, with endpoints being on lines. This is already done in arcwelder.
- Then we fit a spline, which simplifies the curve. (at this point you could even do an arcwelder on it to get G2/G3-s)
- Simplify describing the spline to 3points [start, 1st control, end]
- gives output of G5 [E<pos>] [F<rate>] I7.23 J6.67 P7.57

[2021-02-03 16:50] FormerLurker commented on #33
@mrx23dot, what about detecting the maximum deviation between the new curve and the original tool-path?  That's really the bit I'm not sure how to do (this wasn't exactly straightforward even for simple curves), and it's also an extremely critical element for getting this working.  I searched for papers on either limiting or calculating the deviation, and the ones I found that looked similar to th

[2021-02-03 17:49] mrx23dot commented on #33
That's simple, I added worst case deviation distance from original points.
It's not optimal for every control point it iterates spline points at given resolution.
It should be possible to do it by handling the spline object as a function. (I would assume it would use recursive approximation thus speed penalty)

This code gives 0.19 error in axes unit. The best would be to display 2 plots on one.
[

[2021-02-03 18:07] FormerLurker commented on #33
@mrx23dot, that's a step in the right direction.  However, we not only need to find the maximum deviation from the control points, but also between any point along the toolpath and any point along the spline.  Still, one could implement this without that and see what happens.

Next part:  any chance of finding a library in c++?   I'd hate to rewrite the whole project in Python, which would be dog

[2021-02-03 19:10] mrx23dot commented on #33
For first step could you input a (quite) few extreme arcs? I guess you already have the coordinates of points that need arcifying, just print them in this format:   "[20.444, 10.666],"
Just to see how to make it fail. Especially for asymmetric situations.

Also someone please test G5 on a real machine, this code should create a 5cm S shape:
[code]
![spline](https://user-images.githubusercontent.co

[2021-02-03 19:20] FormerLurker commented on #33
I hear that!!!

[code]
Will test this out after work.

Question:  If we are generating G5 commands, should G2/G3 also be used, or do you think there should be a switch (arcs/Bezier curves)?  If we use both, ideas for choosing between arc/bezier curves?

[2021-02-03 19:39] mrx23dot commented on #33
No idea, the best way would to tell is to create a branch for G5, run the same test files on both and compare the worst ones, I don't think G5 would cover everything, I'm sure this implementation would fail on complete circles.

Looks like G5 allows 2 control points not just one. We can leave that for rev2. Format is
- start-point where we currently stand,
- IJ 1st control point relative to start-

[2021-02-03 19:51] FormerLurker commented on #33
Here is one more thing to think about:  visualizing the gcode file.

I will test in simplify 3d, but I'm expecting it not to work.  We will need to make sure G5s work in the OctoPrint gcode viewer, and maybe update pretty gcode viewer as well (I submitted a PR for that a while back to show Arcs as generated with Marlin's arc interpolation, so it is the most accurate one I know of).

From experienc

[2021-02-03 19:53] FormerLurker commented on #33
Hey, wait a minute!?  You ARE using simplify :)  That's a relief.  The thought of trying to do this blind was kind of scary.  Also, I apologize for not paying as close attention to your posts today as I normally would, but my excuse is that work is busy, but I'm excited enough to want to comment :)

[2021-02-04 10:04] gkatev opened #34 "Malformed model after welding"
Hi,
I've encountered an issue, with the master branch of ArcWelderLib.
I did not see the problem with the Octroprint plugin (up to date with stable version I think).

Before welding (spacer.gcode):
![spacer_gcode](https://user-images.githubusercontent.com/31203804/106876332-41f1b880-66e0-11eb-8b08-840121851d75.png)

After welding (spacer.aw.gcode):
![spacer_aw_gcode](https://user-images.githubuser

[2021-02-04 15:07] FormerLurker commented on #34
Can you run the console version with the --help command and paste in the version?  I just want to double check to make sure I'm debugging the exact right one.  Thanks!

[2021-02-04 15:10] gkatev commented on #34
@FormerLurker
[code]

[2021-02-04 15:12] FormerLurker commented on #34
OK, we are on the same page.  Looks like a bug, so thank you very much for reporting it.  Not sure what's up yet, but it seems to be extremely repeatable, as the issue occurs on every layer.  That's what I get when I go messing around with the core too much :)

[2021-02-04 16:46] FormerLurker commented on #34
OK, this is a bit crazy.  I can't believe I've never seen this before, but the program is not handling empty lines that fall between arcs segments correctly.  I must have removed something critical in the past.  Hopefully I'll have time to dig in and fix ASAP.

[2021-02-04 17:06] mrx23dot commented on #33
An interesting property if 2 control points align the 2 connected splines will be tangential. So they can be easily chained.

[2021-02-04 19:54] FormerLurker commented on #34
You might try [the latest artifacts](https://github.com/FormerLurker/ArcWelderLib/actions/runs/538259176).  Warning:  the MacOs build will not work, and I have not created a raspberry pi build yet.

I'm having trouble getting the mac build working from github actions, and github has no runner for raspbian yet, but hopefully I'll work that out.  Let me know if it is a problem.

[2021-02-05 11:42] gkatev commented on #34
I pulled the devel branch, I suppose it is the same as the artifacts. I'm not dekstop Linux, so no build problems!
As far as I can tell the problem is fixed; model looks fine after welding, and I can see a reduction of G1 commands (14269->7756), as well as an increase in G2/G3 (76/215).

Thanks for the fix and for all your work with this project!

[2021-02-05 14:44] mrx23dot commented on #33
I added proper G5 code generation.
[arc.zip](https://github.com/FormerLurker/ArcWelderLib/files/5933189/arc.zip)

[2021-02-05 15:06] FormerLurker commented on #34
Oh, I'm relieved.  That was the worst bug I've seen in months.  I'm really glad you pointed it out.  I'm going to call this closed, and will try to push out a new release ASAP.

[2021-02-05 15:06] #34 closed

[2021-02-05 20:17] Invzblio opened #36 "No heatup (build plate and nozzle) when used with Cura and Ultimaker 2+"
Generated gcode with Cura and ran it through AW command-line.
When I load up the file in the UM2+, it starts printing right away without heating up the build plate and nozzle. The original file doesn't have this problem.
I tried with the Cura plugin and got the same results.
I ran the same STL in Simplify3D and ran AW on the gcode. Everything worked fine so it seems the issue is really with the gc

[2021-02-05 21:55] FormerLurker commented on #36
Ok, so Ultimaker's are a bit odd.  I've never owned one, and just learned of this, but the first line of any ultimaker gcode apparently needs this comment:

;FLAVOR:UltiGCode

Else it just won't work.  This is VERY non-standard behavior.  Arc Welder (like many other pre-processors and slicers) adds a header to the gcode.  This pushes the ultimaker comment down, and causes problems.

Try this:  in

[2021-02-06 00:13] Invzblio commented on #36
@FormerLurker You are right. Moving the line up solves the problem. However, in my Simplify3d gcode file, this line is not present at all. So it seems to be the combination UM2+ and Cura that generates this. Anyways, thanks for looking into it. Are you planning on fixing the issue in the code or I'll have to manually do it for the near future?

[2021-02-06 00:20] FormerLurker commented on #36
It is the gcode flavor setting that does this.  Give me 30 min and i will push an update.  The faster you can test it the better, since my inbox is blowing up today, 😂

[2021-02-06 00:49] FormerLurker commented on #36
Ok, try the [new artifacts here](https://github.com/FormerLurker/ArcWelderLib/actions/runs/542027789).

Note that the macos version doesn't work when built from the Github Runners for some reason (still working on that).  Hopefully that's not the one you want to use.

This fix moves that single comment to the top.  I'm REALLY hoping I don't have to move the rest of them up too 🤞. That would get ve

[2021-02-06 00:49] FormerLurker commented on #36
OH, I also pushed a commit to the OctoPrint plugin, which is available on the devel branch if you need that as well.

[2021-02-06 01:22] Invzblio commented on #36
Works great! Thanks for the quick fix! Great work you did there! I'll be using this tool really often! :)

[2021-02-06 01:22] #36 closed

[2021-02-06 01:23] FormerLurker commented on #36
Thanks, enjoy, and tell your friends, lol

[2021-02-07 21:41] seantapscott commented on #36
Hey, I was reading through a couple of these.  Wanted to offer some information on this, as I have a bit more experience with Ultimakers.

This `;FLAVOR:UltiGCode` must be an UM2 problem, as UM3's gcode files state Griffin as the flavor. I think it is actually rather strange that the UM2 is even working with arcs, as UM3 refuses to function with them.

Here's a UM3 header:
`;START_OF_HEADER
;HEADE

[2021-02-07 21:57] FormerLurker commented on #36
If UM3s don't support arca, i don't think we need to do much with the Griffin header.  I wonder why G2/G3 is removed?

Also, just out of curiosity, does the start of header need to be on the first line?  Also, where can I find info on what all of these comments do?  I did a bit of google fu, but sadly my skills were lacking.

It seems odd that comments were used for control rather than adding/adju

[2021-02-07 22:07] seantapscott commented on #36
No, I am also confused about the UM2 supporting arcs and the UM3 not supporting arcs, which I was mentioning it.  Trying to point out that you probably don't want to make generalized assumptions about Ultimakers, as each model line seems to have different capabilities.

The UM3 is largely abandoned, doesn't support linear advance, or arcs, or much of anything else.

As to the header file itself, t

[2021-02-07 22:13] FormerLurker commented on #36
Thanks for that.  Can i assume that another gcode flavor could be used, and that standard warmup commands, etc, would work normally?

[2021-02-07 22:13] fieldOfView commented on #31
Here's a Mac OS build of V1.1.1
[ArcWelder.zip](https://github.com/FormerLurker/ArcWelderLib/files/5940130/ArcWelder.zip)

[2021-02-07 22:15] FormerLurker commented on #31
@fieldofview FTW!!!

[2021-02-07 22:18] seantapscott commented on #36
No idea, honestly. I don't do a lot of fiddling outside of Cura with the Ultimaker 3.  Most of what I want to do can be done within the infrastructure that UM has created.

I had talked with you previously about another issue where I had arcWelder post-processed a file, and it had pushed down the header, but the issues were with missing retractions, and a ton of other artifacts.  People on the Fac

[2021-02-08 16:52] FormerLurker opened #43 "Feedback for V1.1.1"
Please let me know if you've used the [new build of ArcWelder](https://github.com/FormerLurker/ArcWelderLib/releases/tag/1.1.1) or any of the associated libraries. I would love to know what you like, what you don't, what you love, and what you hate. If you have discovered any bugs, please mention those here. I may ask you to create a separate issue for any newly discovered bugs.

Thank you all so

[2021-02-08 16:54] FormerLurker commented on #32
Thanks everyone!  New binaries are up, including the MacOs build by @fieldOfView (thank you!), and a 32 bit windows version (might need the C++ runtime, not sure yet, don't have 32 bit os to test on yet).  Find the new feedback thread [here](https://github.com/FormerLurker/ArcWelderLib/issues/43)

[2021-02-08 16:54] #32 closed

[2021-02-08 17:00] FormerLurker commented on #33
@mrx23dot, very interesting.  I've also been thinking about how to include G2/G3 with G5.  I think both processes need to run together (G2/G3 and G5 interpolation), and we can take the one that includes the most points as the 'winner'.  Pretty simple :)

[2021-02-08 17:22] fieldOfView commented on #43
Using [dependencies](https://github.com/lucasg/Dependencies), it looks like the win32 binaries are not statically linked (ie: they require runtime libraries being installed).

[2021-02-08 17:48] FormerLurker commented on #43
@fieldOfView, wow, I haven't heard of that exe.  Checked it out, and found exactly what you did.  Will push up a statically linked version ASAP.  Hopefully I will be able to get the github runner to create an X86 version (and the mac version) automatically.  FYI, I'm trying to remove the double zip issue (it's apparently a well known thing), and clean up the file names too.

[2021-02-08 17:56] fieldOfView commented on #43
So you write a brilliant postprocessor to solve a major problem people are having, and you get to spend your time on setting up build processes.... I feel for you.

[2021-02-08 19:28] mrx23dot commented on #33
Here is a good torture test gcode, Arcwelder produces +28% bigger code. Is that expected?
Is it possible to print points on the curve?

[torture.zip](https://github.com/FormerLurker/ArcWelderLib/files/5946295/torture.zip)

[2021-02-08 19:35] FormerLurker commented on #33
@mrx23dot, will check it out ASAP

[2021-02-08 19:54] FormerLurker commented on #33
@mrx23dot, I got different results than you did:
[code]

You can see the file size reduction and compression ratio if you scroll right.  Here is the visualization:

![image](https://user-images.githubusercontent.com/33363128/107273450-b1cfae00-6a14-11eb-8ee3-4ab704952554.png)

It looks really good to me.  I need to see a layer/by/layer view to really dig in, but can take a look soon.

[2021-02-08 19:55] FormerLurker commented on #33
Hey, and this is unrelated to this issue, but I would be interested in doing a 'travel moves only' torture test.  I had a user ask about compatibility with a laser cutter, and I realized I specifically omitted travel moves from arc welder.  It wouldn't be TOO difficult to add them (not a walk in the park, but not terrible), but I would need some kind of test like this.

[2021-02-08 20:03] FormerLurker commented on #33
I realized I didn't answer this question:

but I"m not sure what you're wanting exactly.  Are you wanting to see what the firmware will do with the curves, for example are you wanting to see the interpolated segments?  Something else?

[2021-02-08 20:41] mrx23dot commented on #33
Try this, but you still need dxg->gcode 2D slicer
[2D_torture.zip](https://github.com/FormerLurker/ArcWelderLib/files/5946685/2D_torture.zip)

Regarding 3D:
From ArcWelder could you export the following absolute coordinates?
curve1 contains points: (1,2), (2,5.5), (7,5.3)   in X,Y
curve2 contains points: (10,20), (3.5,5), ...
...
I will try to fit a spline on it and check if it matches the origina

[2021-02-08 22:19] yash-fn opened #44 "Marlin Bugfix Introduces new logic for arcs"
Not an urgent fix, but thought I'd just give you a heads up that Marlin firmware bugfix branch had implemented new arc logic sometime last year.

This is the part of your code that differs from that version:
https://github.com/FormerLurker/ArcWelderLib/blob/efb6c54e9f07edb25304a35e58431fdfe321c705/ArcWelderInverseProcessor/inverse_processor.cpp#L266-L323

The equivalent section in marlin branch is

[2021-02-08 22:39] FormerLurker commented on #44
Interesting, thank you for posting that.  I was aware of one of those bits, but not the other.  I just started adding the capability to use different interpolation functions, so this is a good use case.  I just need to go through the history for that file and implement any significant changes.  I like the idea of having all variations since I deal with users who are using the bleeding edge develop

[2021-02-08 23:11] yash-fn commented on #44
Sounds great! Also not really an issue until they push it into the release branch. Until then technically its "bugfix".
I've got some ideas myself that I think will help you, but I will have to first figure out Marlin, which is rather quite complex due to the variety of boards they have to support and which is how I came across this code difference in the first place.
Should I close this issue? Or

[2021-02-08 23:13] FormerLurker commented on #44
Leave it open.  I will add the changes and you can try it out.

[2021-02-08 23:15] yash-fn commented on #44
Roger roger

[2021-02-11 00:49] AxeGrinder1965 opened #47 "IdeaMaker slicer plug in?"
Hi, this looks great, I am about to try it out... is there a plugin for ideamaker?
Great work1

[2021-02-11 00:51] FormerLurker commented on #47
Never used it.  Does it have any post processing script setting?  Also, link to latest version?  I'm always looking to make ArcWelder useful to more people, and adding support for another slicer seems like a good way to do that.

[2021-02-11 04:39] Manfredo1952 opened #48 "Just a typo --> MaxOS -- should be MacOS , No ?"
<img width="181" alt="grafik" src="https://user-images.githubusercontent.com/56330568/107602942-8246be80-6c2b-11eb-9ea7-0d5bd8cf53e1.png">

[2021-02-11 04:50] FormerLurker commented on #48
Lol!  Yeah, i did that in a huge rush, like everything else this last couple weeks.  Thanks for the report.  Will fix in the am.

[2021-02-18 22:30] orjanekeberg opened #49 "ArcWelderStraightener seems to assume absolute extruder values"
Hi!
Using current version (master, efb6c54e9), I tested to convert a small gcode-file into using arcs, and then back again to replace the arcs by lines. The original gcode uses relative extrusion distances, and the arc-version seems to be correct. However, in the "straightened" gcode, all G1 commands corresponding to former arcs have progressively increasing E-values.

Seems like the ArcWelderStra

[2021-02-18 22:34] FormerLurker commented on #49
Yeah, that doesn't sound surprising.  I haven't ever printed from the Straightener, and mostly use it to figure out what the firmware is doing.  It should be pretty simple to get it working as expected, though, so i'll see what I can do.  Thanks for letting me know!

[2021-02-18 22:52] FormerLurker commented on #49
Ok, try [these artifacts](https://github.com/FormerLurker/ArcWelderLib/actions/runs/579675901)(scroll to the bottom).  The MacOs build likely doesn't work.  Can't figure out how to make it work in the actions for some reason...

Also, I haven't tested this much, but I figured since it is broken anyway, I might as well let you take a look.  I also prevented feedrate output if the feedrate hasn't ch

[2021-02-18 23:47] orjanekeberg commented on #49
I did a quick test, and it does look better, but still not correct. The E-values for each sequence of G1-commands that come from a straightened arc are still absolute (locally, within that sequence). For example: consider an arc replaced by, say, three lines. The first line has the correct E-value, but the second has a too large value (sum of extrusion for first and second line). Third line has an

[2021-02-18 23:49] FormerLurker commented on #49
Ah, yes.  I did the edits too quick hoping i could solve it still today.  It is going to be more challenging than my first attempt.  I should have caught that, thank you for looking!

[2021-02-19 05:30] xorza commented on #33
Isn't Junction Deviation in Marlin solves exactly this problem?

[2021-02-19 09:55] mrx23dot commented on #33
@xorza if you want speed then you need to reduce the resonances, smooth fast movements.

[2021-02-20 04:30] k7beb opened #50 "Feature Request - ArcWelderConsole parameter for log output filename"
Low priority but I would love to have a parameter in ArcWelderConsole that allows us to direct log output to a named file instead of stdout. I use the ArcWelder.exe postprocessor with PrusaSlicer and Prusa does not provide any way (that I've found) to capture the console output. The window opens and closes before I can see the log. I'd like to be able to see what was accomplished.

[2021-02-20 15:21] atsju opened #51 "Less arcs welded than expected on simple piece"
Hi,
I use the arc welder plugin in Cura and well I did a simple round piece, it's a single wall 100mm diameter ring.
I basically wanted to see if this improved the finish on arcs with Marlin 2.0 and my printer.
The piece is basically a circle so I expected almost everything to be replaced by curves but it's not the case. I suppose this come from the pieces STL export or from my settings. Can you h

[2021-02-20 15:23] atsju commented on #17
Hello, this is more or less related but I suppose that you will get more and more issues here doe to the arc welder plugin beeing integrated to Cura. Consider adding an issue_template.md file to get good quality tickets.

[2021-02-21 00:15] FormerLurker commented on #50
What OS are you using?  You can log console output to a file pretty easily, but it depends on the OS.  For example, for windows use for example:
[code]
The ```>> filename.extension``` at the end forces console output to a file, and appends any file that is already there.

[2021-02-21 00:20] FormerLurker commented on #51
Hey there!  I'll take a look at this ASAP.  I'm sure it's something simple.

[2021-02-21 00:52] FormerLurker commented on #51
OK, the gcode isn't high enough resolution to work with the default.  The segments are quite large, and the default resolution for arcwelder is very high (0.05mm).  You can either set Arc Welder resolution to a higher value or increase the resolution of your gcode or model.

For the easiest option, just set the resolution in ArcWelder to 0.1.  I recommend you set it back to 0.05 when you are done.

[2021-02-21 01:24] FormerLurker commented on #17
@atsju, good idea.  I have done that for Octolapse, but pretty much everyone just ignores it.  However,  there is a really awesome feature coming soon that allows forms within the issue template, so I may wait for that.  I am also planning to add a bot at some point.

Just FYI, I wrote the core ArcWelder algorithm, the console app, and the OctoPrint plugin, but @fieldOfView wrote the cura plugin.

[2021-02-21 01:28] FormerLurker commented on #50
@k7beb, I realize now you're using PrusaSlicer (I should read and re-read these issues, geesh...), so what I said won't work since the target file is always added as the final parameter.  Bummer, but you could still use the console application.

Is there anything in particular you're looking for?  Statistics??  Something else?  There may be a different approach.  Messing with console logging could

[2021-02-21 02:02] k7beb commented on #50
Thanks for following up. Yes, I'd already tried redirecting output and found out that PrusaSlicer always tacks the input filename on the end so it didn't work.

Really, I just wanted to be able to see the statistics - amount of compression, number of segments eliminated, etc. that I can see when I use it as a plugin.

I had been hoping it was easy to just add a parameter and redirect the log outpu

[2021-02-21 02:04] k7beb commented on #50
Actually, with a little further thought, I can replace the direct call to ArcWelder.exe with a small script and do what I want. Thanks for making me think a little harder about this.

[2021-02-21 02:04] #50 closed

[2021-02-21 04:03] FormerLurker commented on #50
Hey, maybe share your script if you can generalize it?  I did do a bit of reading about redirecting via code, so maybe i will take a stab at it at some point.

[2021-02-21 07:26] atsju commented on #51
@FormerLurker Thank you I tried exporting more precise STL and increasing resolution to 0.075mm and both worked well.

Note that in Cura the setting is limited to 0.025-0.075mm range. But this may be limited by @fieldOfView. I let the ticket open just so you can validate together if the range in Cura is OK and not too restrictive.

[2021-02-21 07:39] atsju commented on #17
@FormerLurker it's really easy to add a licence. Just clic "add file" in Github interface and name it licence. A button to use one of the templates will appear.
![image](https://user-images.githubusercontent.com/4628382/108618598-b2f2d900-741f-11eb-9651-d592a9598ce7.png)

The interface is really good with a simplified view of permissions/limitations/conditions.

![image](https://user-images.github

[2021-02-21 16:38] k7beb commented on #50
The script I made is very basic and a little ugly, as it leaves a temporary output file named awlog.tmp lying around for Windows to clean up.
I just created a text file named ArcWelder.bat with the following content:

TITLE Arc Welder Pre-processor
<path>\ArcWelder.exe %1 %2 > awlog.tmp
START notepad awlog.tmp
EXIT

To use it modify the third line to point to ArcWelder.exe on your system. Note tha

[2021-02-21 19:55] FormerLurker commented on #17
Yeah @atsju, I'll have to mirror the arc welder plugin license.  Thanks for the tips!

[2021-02-21 19:56] FormerLurker commented on #50
That's a pretty reasonable way to do it.  As soon as I have some time I'll look into redirecting output from within the code and will post back.  I'll share your script with anyone else who wants this.

[2021-02-21 20:58] k7beb commented on #50
Thanks :)

[2021-02-21 22:57] gdeconto opened #52 "Prusaslicer Viewer 2.x doesnt recognize files processed by ArcWelder"
This is more of an fyi or very minor issue, but the PrusaSlicer 2.x viewer expects a line that looks something like this at the top of the file:

; generated by PrusaSlicer 2.3.0+win64 on 2021-02-21 at 22:41:55 UTC

ArcWelder puts its own info (for example) at the top:

; Postprocessed by [ArcWelder](https://github.com/FormerLurker/ArcWelderLib)
; Copyright(C) 2020 - Brad Hochgesang
; resolution=0

[2021-02-21 23:25] FormerLurker commented on #52
I can just detect that comment and add it as the first line.  However, that doesn't work for ultigcode, and since they wont print right without the first line comment, that will take precedence.  Consider posting an issue to the PrusaSlicer github askint them to search the first N lines (maybe 100 or 1000) for their comments.  If arcwelder can do this (and it does), PrusaSlicer can too.

[2021-02-21 23:26] FormerLurker commented on #52
Also, just FYI, prusaslicer can't display g2/g3 commands.

[2021-02-22 08:05] melwinek opened #53 "Install problem in octoprint (docker)"
[code]

[2021-02-22 16:24] FormerLurker commented on #53
It looks like the build tools aren't installed:
[code]
Try installing it from the terminal like so:

[code]

[2021-02-22 17:08] melwinek commented on #53
Thank you. Now it is working.
I wonder why it is so, it is the original octoprint container from docker.io.

[2021-02-23 06:44] observatoer commented on #47
http://www.raise3d.com/ideamaker/?utm_source=getideamakercom&utm_medium=referral

[2021-02-23 16:24] FormerLurker commented on #47
Thanks @observatoer!  Will try it out.

[2021-02-23 20:00] gdeconto commented on #52
there is an issue logged in github; https://github.com/FormerLurker/ArcWelderLib/issues/52#issuecomment-782949189

[2021-02-23 20:02] gdeconto commented on #52
there is an issue logged in github for this; https://github.com/prusa3d/PrusaSlicer/issues/4352

[2021-02-23 20:22] gdeconto commented on #52
added new issue in github for the PrusaSlicer exception error issue; https://github.com/prusa3d/PrusaSlicer/issues/6117

[2021-02-23 20:28] FormerLurker commented on #52
Thanks for adding that issue!  I'll try to tackle it on this end as well.

Also, regarding the issue you linked to above (4352), that is for adding arc generation to PrusaSlicer.  I'm guessing they would fix visualization too in that case, but one could fix the rendering issue before adding native arc support.

[2021-02-25 13:23] DBa2016 commented on #43
Using your Win64 build for a post-processor in PrusaSlicer, works really nice. The output is a bit messy, especially on large files you cannot tell at a glance the current progress, but that's not a major issue.

[2021-02-25 14:25] FormerLurker commented on #43
@DBa2016, are you printing from prusa slicer, octoprint, sd?  Depending on your printer, PrusaSlicer can output progress gcodes.  You have to enable expert mode:

![image](https://user-images.githubusercontent.com/33363128/109166978-e5177a00-7742-11eb-857c-b02e7dc6a756.png)

Then you should enable the feature:

![image](https://user-images.githubusercontent.com/33363128/109167008-ecd71e80-7742-11e

[2021-02-25 15:38] DBa2016 commented on #43
Nono, I mean, progress of ArcWelder itself - I am running a batch script which converts the file (print settings->output options->post-processing scripts).
A typical log line from ArcWelder.exe looks like follows:
[code]
"30.24" is the most important information here ("where are we with the conversion? how long will it take to convert?"), however it is not visually identifiable at one glance. Yes,

[2021-02-25 15:54] FormerLurker commented on #43
Make sure you enable 3D arcs, else it won't work :)

I've had the same issue with the progress.  The output can be parsed by other programs that use ArcWelder, so I'll have to be careful not to break the ones that are out there already.  I could even add some additional parameters that would create a progress bar or something.  Will look into it.

[2021-02-25 16:16] FormerLurker opened #54 "Add ArcWelderLib version to gcode output"

[2021-02-25 16:35] illusionmanager opened #55 "ArcWelder slows down a lot on certain parts."
For my Snapmaker 2.0 I'm using Cura. I made a tiny cylinder but whenever it is printing the gyroid type infills, part of  of it is printed at a crawling speed.
Here is the video:
https://user-images.githubusercontent.com/79637793/109184664-85938b80-778f-11eb-8abd-f8253616c4a2.mp4
While writing this down, I just realized that the only difference between the infill and the rest of the cylinder is th

[2021-02-25 16:41] FormerLurker commented on #55
Thanks!

The way you did it is fine.  You can always use gist.github.com, and you can upload multiple files, leave comments, etc.  It's pretty convenient.  Looks like you're getting the hang of github :)

I'll try to take a look at this tomorrow.  Unfortunately, this kind of problem takes a LOT of time to review.  I DO have a suspicion though...  If it's not a problem with the gcode (which it may

[2021-02-25 20:35] illusionmanager commented on #55
I just did send both G2 and G3 commands directly from a console to the Snapmaker printer. The printer does make clockwise and anti clockwise circles at full speed.
I also tried this sequence
G2 X40 I40 F300
G3 X40 I40 F3000
G2 X40 I40
just to make sure the the G2 command also picks up the F3000 from the previous G3 command, and it does.
So it seems both do work just fine on the Snapmaker 2.0.

[2021-02-25 21:37] FormerLurker commented on #55
Ok, thanks for running those tests!

[2021-03-01 15:42] EagleeyeKai opened #56 "How to use with PrusaSlicer on Mac"
Dear all,
could somebody please help me how to use the script on MacOS version of PrusaSlicer? Meaning, where to save the ArcWelder file and how exactly to insert the path..

Thanks a lot!

[2021-03-01 16:09] FormerLurker commented on #56
I wish I owned a Mac to test this :(  I will ask around and see if anyone can give me an example, then I can update the guide.

[2021-03-01 16:25] EagleeyeKai commented on #56
This sounds great. As somebody already updated the MacVersion, I am sure, another user can guide me into the right direction :)

[2021-03-03 18:46] Bob90 opened #57 "Is this compatible with Cura Arachne"
Hi,

Is this compatible with Cura Arachne where line widths can vary dynamically?

Thanks,

[2021-03-03 19:29] FormerLurker commented on #57
I've not tried it, but it should be fine.  I need to see some gcode, but I can't see why it wouldn't.

[2021-03-03 22:33] Bob90 commented on #57
It has variable line width/extrusion.
Does your code check for changes in extrusion values along the arc? Because of it doesn't, you might end up with a single arc with over/underextrusion compared to the variable line width.

Sorry, I'm not a coder so I wouldn't know where to look in your code to see if it does check extrusion.

[2021-03-03 23:08] FormerLurker commented on #57
@Bob90, good point.  Again, without seeing how the gcode is arranged, it would be difficult to tell, but I do NOT ensure extrusion volume per mm of travel.  It might be interesting to see how close the extrusion volume per mm of travel varies in a typical gcode file without arachne, and see what an acceptable variance is.  It would be trivial to add this to the arc generation constraints, so reall

[2021-03-03 23:16] FormerLurker commented on #57
I installed it, so I should be able to see exactly what's going on.  Thanks for the heads up!

[2021-03-03 23:54] FormerLurker commented on #57
So, I added rudimentary support for this, but need to test a bit and update the OctoPrint plugin before I push this.  I'm debating adding the extrusion_rate_variance setting as a % instead of a fixed value, which should be pretty easy to set.  I doubt changes of less than 01% (or 0.1) would make much of a difference.

Here is a typical value for the extrusion rate (mm of extrusion/mm of travel) fr

[2021-03-04 00:51] FormerLurker commented on #57
Ok, I added some basic support.  I decided to go with a percent, since that seems to make the most sense, and doesn't require intimate knowledge of the slicer engine to complete.  The new parameter is -v or --extrusion-rate-variance-percent, with a default of 1%.  You can find the latest console app in the artifacts tab (from the devel branch, fyi) if you want to give it a go.  I need to find a go

[2021-03-04 08:39] Bob90 commented on #57
Amazing! I was wondering because I read that Ultimaker will eventually merge this as the default slice engine behaviour. It's still alpha so not immediate, but I did wonder how they would interact.

I'll try, but I'm quite simple and have been using either the OctoPrint plugin or the (normal) Cura add-on.

I'll read how to set parameters.

[2021-03-04 13:29] FormerLurker commented on #57
I will run a test today or tomorrow too.  I will also post instructions for testing this as soon as i can.

[2021-03-07 08:14] TheAndr0id opened #58 "Need build instructions"
Unless it's somewhere I forgot to look I couldn't find any build instructions for the source code.  I took a stab and I believe this worked: (I downloaded the source (tar.gz) and from within the extracted directory)

[code]

Did I miss anything?

[2021-03-07 17:13] FormerLurker commented on #58
Are you wanting to build everything or some specific component?

[2021-03-07 19:48] TheAndr0id commented on #58
Just looking to build everything.  The final binaries (as I've built them) are less than 1200kbytes, so space isn't an issue.  I just wanted to have a binary under /opt that I can use with PrusaSlicer.

Sorry, not wanting to be critical, there were a few warnings that came up (eg: warning: "_POSIX_C_SOURCE" redefined) but nothing that was all that exciting.  I just wanted to make sure I wasn't mis

[2021-03-09 18:05] DBa2016 opened #59 "ArcWelder increases amount of movements"
As per attached screenshot, AW (command line version for Win64) increases the amount of movements for certain arc groups instead of decreasing them.
Leaving alone the question how this can happen (maybe too many actually straight movements are recognized as an arc?), it is probably better to by default not weld arcs where it would actually increase amount of commands.

I am also attaching the gcod

[2021-03-10 14:38] FormerLurker commented on #59
The resolution of either the original model or your slicer is too low to render any arcs:

![image](https://user-images.githubusercontent.com/33363128/110644943-32e8a500-817b-11eb-9a00-15f4e9c7af12.png)

Arc welder detected deviations that were higher than the default resolution of 0.05mm.  If you increase the resolution to 0.1mm you should see a 48% decrease:

![image](https://user-images.githubu

[2021-03-10 14:54] FormerLurker commented on #58
You could just download the binaries [here](https://github.com/FormerLurker/ArcWelderLib/releases/tag/1.1.1) for the latest pre-release.

Yeah, there are too many warnings, most of which don't affect the functionality but should be addressed.  I'm a bit rusty with c++, as I've only done 2 projects in the last 20+ years :)  I'm getting better though, and I think if I started over things would be ni

[2021-03-10 16:38] TheAndr0id commented on #58
No worries, the warnings aren't anything but build noise.  So far the results look good, I have tested it on a STL, but I can't print it yet since my Ender 3v2 doesn't support arcs until I get the firmware rebuilt.

I have a policy that I don't use binaries and build everything from source.  This is half because I don't trust pre-built binaries and half because I use Slackware and many binaries ar

[2021-03-10 17:50] FormerLurker commented on #58
Sounds reasonable.  Take a look at the [Github build action](https://github.com/FormerLurker/ArcWelderLib/blob/master/.github/workflows/ccpp.yml).  It contains every step (and then some) necessary to compile the code.

[2021-03-11 18:29] theshortest opened #60 "Prusaslicer 2.3.0 path problem"
I have sliced a few files and I am left with this. I am not able to solve.
![Screenshot 2021-03-11 121304](https://user-images.githubusercontent.com/7723998/110836196-63a50900-8265-11eb-9040-e111dee1b062.png)

[2021-03-11 19:48] FormerLurker commented on #60
Please upload the original and the welded gcode to gist.github.com, and drop a link here, thanks!

[2021-03-11 20:03] theshortest commented on #60
Hope this helps.
https://gist.github.com/theshortest/30373a95d23865f9981a669e852bddd8

[2021-03-15 13:20] FormerLurker commented on #60
Looks like your visualizer doesn't correctly render arc commands.  Here's how simplify3d sees your welded gcode file:

![image](https://user-images.githubusercontent.com/33363128/111159540-34451380-8567-11eb-9ea7-abd56f439bc4.png)

So far the only slicer I know that correctly renders arc commands is simplify 3d.  The OctoPrint gcode view and the pretty gcode plugin also do this correctly.  ncviwer

[2021-03-15 14:05] theshortest commented on #60
Unfortunately It wasn't just my viewer. It's how the parts are printed. That's how I first found out. Things work fine through Octoprint but I am trying to use PrusaSlicer post processor so I can use Simplyprint.io.

![IMG_2111](https://user-images.githubusercontent.com/7723998/111165867-8426d900-856d-11eb-8c69-79e61590173d.jpg)

[2021-03-15 14:11] FormerLurker commented on #60
Can you try sending a 'G2' command (empty, with no parameters) to your printer via the OctoPrint terminal and see how it responds.  It may disconnect, but it won't cause any problems.  Paste the response in here, thanks!

[2021-03-15 14:19] theshortest commented on #60
I will after work today. Cannot access my machine at the moment.

[2021-03-15 18:27] theshortest commented on #60
For what its worth this is how Cura interprets it.

![Screenshot 2021-03-15 131749](https://user-images.githubusercontent.com/7723998/111202671-222c9a80-8592-11eb-88cb-610220c2a52f.png)

[2021-03-15 19:06] FormerLurker commented on #60
There's an issue logged for this at the cura github page.  Hopefully it gets fixed.

[2021-03-17 22:49] theshortest commented on #60
G2 says "unknown command"

[2021-03-17 22:54] FormerLurker commented on #60
Arcs are disabled in your firmware. You will need to enable arc commands before you can use arcwelder.

[2021-03-18 18:03] lunartique commented on #43
I found the 1.1.1 lib will generate random small holes during print (may be because extrusion)
While the same does not for 1.1.0 lib.
![Uploading IMG_20210319_005905.jpg…]()

[2021-03-18 18:06] lunartique commented on #43
I found the 1.1.1 lib will generate random small holes during print (may be because extrusion)
While the same does not for 1.1.0 lib.
![IMG_20210319_005905__01](https://user-images.githubusercontent.com/60703714/111674964-2e914b80-884f-11eb-9554-94470a16ee78.jpg)

[2021-03-18 18:33] FormerLurker commented on #43
Interesting @lunartique, can you create a separate issue and post the before/after gcode please?

[2021-03-19 23:42] gustavomassa opened #61 "Improve Marlin 1.1.x ARC Support based on the improvements of Marlin 2.0.6"
Hello, thanks for this amazing lib.

I'm planning to get the Marlin 2.0.6 feature into Marlin 1.1.9 since I use my board is 8bits and I don't want to update to 2.x.
The idea is to compare the differences between the 2x algorithm with the 1.1x algorithm.
![image](https://user-images.githubusercontent.com/16235598/111851598-92b91b80-88f2-11eb-929b-dc39f2b5893b.png)
What you mean by greatly enhanced?

[2021-03-20 01:14] FormerLurker commented on #61
Yes, firmware compensation is basically accounting for the missing min_arc_segments define, which allows accurate geometry for small arcs.  When using only mm_per_arc_segment, small arcs will end up looking like polygons.  Compensation just prevents arcs from being generated if they violate arcwelders min_arc_segments + mm_per_arc_segment setting.

Adding min_arc_segments is the thing you should f

[2021-03-20 01:30] gustavomassa commented on #61
@FormerLurker thanks for the info, I will look up your repo as an example

I did the first commit, adding the min_arc_segments, 24 is a good value?
[https://github.com/gustavomassa/Marlin/commit/4f664e8b5398451542b9e1b2e46f3c1d2bccf970](https://github.com/gustavomassa/Marlin/commit/4f664e8b5398451542b9e1b2e46f3c1d2bccf970)

What about the **ARC_SEGMENTS_PER_R** and **ARC_SEGMENTS_PER_SEC**?
I stil

[2021-03-20 03:11] FormerLurker commented on #61
Those settings are good defaults.  Though the feedrate based settings are cool, they require a bit of testing to properly configure.  Maybe consider implementing those later.

As for a test, the first layer of benchy is pretty good, as it has curvy text.  Slice it with archimedean bottom infill for a proper test.

[2021-03-20 04:30] gustavomassa commented on #61
@FormerLurker How much infill is needed for the test? "Archimedean Chords" for the bottom only? I cut the benchy file, so it will print the first 2 layers only.

![image](https://user-images.githubusercontent.com/16235598/111858540-a6777880-8918-11eb-9e96-0d0e95f37314.png)
![image](https://user-images.githubusercontent.com/16235598/111858386-5350f600-8917-11eb-9766-625b19a68d52.png)
![image](https

[2021-03-20 15:04] FormerLurker commented on #61
Wow, that's some line width :)

The infill amount won't batter, because top and bottom infill is solid.  Since you are only printing the first two layers, you won't have sparse infill at all.

You should not.

Looks good!  drop a link to your mods.  I'd be curious to see what you have.

[2021-03-20 15:06] FormerLurker commented on #61
Regarding the link, I pretty easily found your repo, so not necessary.  Nice job!

[2021-03-20 18:49] lunartique commented on #43
@FormerLurker are there a reliable way to upload gcode files? it crash my browser everytime i post a gcode.

[2021-03-20 18:50] FormerLurker commented on #43
Try gist.github.com and paste a link here.

[2021-03-20 19:07] lunartique opened #62 "Strange holes after V1.1.1 is used"
I found the 1.1.1 lib generates random small holes during print (may be because extrusion)
While the same does not for 1.1.0 lib.

printer prusa mk3s all stock
arcwelder parameter arcwelder.exe -s=1.0 -a=14 for both 1.1.1 and 1.1.0

Gcode from prusa slicer
https://gist.github.com/lunartique/b724c94743e5a42ee652a44d8ae40ab6
Gcode  from AW 1.1.1
https://gist.github.com/lunartique/cdaa0efaae6755bdaae

[2021-03-20 19:07] lunartique commented on #43
ok, issue up
https://github.com/FormerLurker/ArcWelderLib/issues/62

[2021-03-20 19:47] FormerLurker commented on #43
Thanks, will take a look!

[2021-03-21 00:32] 3DPmicro opened #63 "Faceted Surface"
As originally presented to you on Discord. Faceting on curved surface which doesn't appear to coincide with the patterns on the original CAD file. I have included the original .stp and prusaslicer gcode w/ and w/o ArcWelder. I can confirm the print does contain the faceting I see in the viewer at least the best I can tell. It's a small part. Printed in PEKK which is semi translucent. I cant captur

[2021-03-26 12:38] theshortest commented on #60
Sorry for the delay. I have tried and tried and I still get broken arcs. I cant speak to the arcs being disabled in Marlin but I have successfully printed 6 parts through Octoprint/arcwelder with no firmware changes. All Gcode viewers show broken arcs from Prusasclicer standalone Arcwelder. At this time I do not believe it is viewer problem I believe it is an issue with the standalone executable I

[2021-03-26 18:48] theshortest commented on #60
Finally had a chance to check myself on simplify and sure enough!
[Screenshot 2021-03-26 134715](https://user-images.githubusercontent.com/7723998/112679210-e61ef280-8e39-11eb-9f21-c56c00cc084b.png)

[2021-03-27 06:13] ilium007 opened #64 "max_extrude_cross_section error"
I am running latest Klipper and got the max_extrude_cross_section error. I read on the ArcWelderPlugin issue list a similar issue that was resolved:

https://github.com/FormerLurker/ArcWelderPlugin/issues/99

[2021-03-28 16:22] FormerLurker commented on #64
I'm still looking into this.  There are a lot of moving pieces, but I believe this has to do with absolute extrusion.  Perhaps you could try re-slicing with relative extrusion (if you were in fact using absolute extrusion) and see if the problem persists.  At least we will have some confirmation in that case.

[2021-03-28 16:49] FormerLurker commented on #49
Ok, so this took me longer than I'd hoped, but I think I've got it working now.  See [this commit](https://github.com/FormerLurker/ArcWelderLib/archive/65768d59a9ed785ddb740fc6df67d2912d2a5bdf.zip), and please let me know if you notice anything odd.

[2021-03-28 17:50] FormerLurker commented on #52
So, I tried forcing the prusa slicer comment to be the first line, but the viewer crashed.  I think it just isn't capable of interpreting G2/G3 :(

Might be time to submit an issue on [Prusa's github](https://github.com/prusa3d/PrusaSlicer/issues).

[2021-03-28 17:52] FormerLurker commented on #54
This has been implemented.

[2021-03-28 17:52] #54 closed

[2021-03-28 18:46] gdeconto commented on #52
already tried that myself with same results.  looks like there is a commit that may fix this:

"enricoturri1966 added a commit that referenced this issue on Feb 24
@enricoturri1966
#6117 - Allow import of gcode files processed by ArcWelder"

[2021-03-30 13:25] orjanekeberg commented on #49
It looks correct now, at least for my test case.

[2021-03-30 13:25] #49 closed

[2021-03-30 13:26] FormerLurker commented on #49
Awesome!  Reopen this issue if you encounter any problems.

[2021-05-03 14:08] kenerwin88 opened #65 "Just wanted to say thank you"
Hi,

Sorry I know this isn't the best way to contact someone, but I couldn't find a way to contact a Github user directly.  Just wanted to say thank you for putting so much time into all of your repos, and making them open source and available for anyone to use.  Really, really appreciate it.  Feel free to delete this issue when you see it :).  Have a great day!

Ken

[2021-05-03 14:41] PhilBaz opened #66 "Arc welder creating artifacts in Cura..."
I see the beauty of Arc welder but have had mixed results using it in cura. It mostly works great but has caused problems a few times.

Please see the attached images of 3 prints...the first two are sliced with different setting and using arc welder, the third has Arc welder turned off and the artifact is gone...ill attach the images as well as the G-code (github made me zip it). Is this an issue

[2021-05-03 15:56] FormerLurker commented on #65
Hi @kenerwin88, and thank you very much!  I'm glad you are enjoying my open source projects :)  Also, FYI there is a new discussions tab that may be better for this kind of message, though I don't mind having an open issue for this at all.  Feel free to add a discussion and we can chat.  Thanks again!

[2021-05-03 15:56] #65 closed

[2021-05-09 16:56] FormerLurker commented on #66
OK, I did a layer by layer examination of all the over/under extrusions from all the files posted (I had to visually count the layers and compare with the image, so I did +- 1 layer for each) and could find no over/under extrusions in the arc welded gcode that you produced, or my newer version that contains extrusion rate checking.  However, I have been getting a lot of issues regarding your print

[2021-05-09 17:54] FormerLurker commented on #66
OK, you probably saw my post to the cura plugin issues, but I wanted to add a few things:

1. This is definitely a firmware issue.
2. I was able to eliminate the issue by setting the maximum radius in the arcwelder console app (same in the cura plugin) to 10000mm.
3. I was also able to eliminate the error by setting the N_ARC_CORRECTIONS define to 0 WITHOUT changing any of the arcwelder settings.

[2021-05-09 18:48] FormerLurker commented on #66
@PhilBaz, I created an issue about this on the Marlin 2 github.  Hopefully a firmware solution can be found.  I could potentially also add some additional firmware compensation to arcwelder, though that is not ideal.

[2021-05-12 04:48] wookie76 commented on #33
Juicy Gcode has a marlin G5 ouput option.
[Juicy Gcode](https://github.com/domoszlai/juicy-gcode)

[2021-06-02 16:44] ssombra opened #67 "Setting Prusaslicer not to overwrite the source file"
I configured Prusaslicer following the instructions on the page and it is working well. However, I am not sure how to tell Arcwelder not to overwrite the original file but to create a new one with, let's say, AW suffix.

[2021-06-02 17:06] FormerLurker commented on #67
Hmm..  I don't think it's possible since prusaslicer doesn't have file name tokens :(  You might want to add a feature request to prusaslicer's github page.  It would be very useful.  Something like {file_name}.gcode, where {file_name} would be replace with the output file name minus the extension.

Just curious why you want this, if you don't mind explaining.

[2021-06-02 17:12] ssombra commented on #67
Not at all :) Just wanted to see the differences in the files after the Arcwelder processing... pure curiosity, trying to learn more.

[2021-06-02 17:20] ssombra commented on #67
I guess the workaround is easy, I could just slice two files, one with Arcwelder processing and the other without, but I thought there was a more elegant way. Thanks for the reply and congratulations for Arcwelder, it improved my prints a lot, I was having some blobs when printing through Octoprint.

[2021-06-02 19:25] FormerLurker commented on #67
That's exactly why I wrote this!  I didn't have any issues personally, but it depends on your slicer, the model, and your firmware.  I was tired of reading about quality issues using Octoprint, and knew what was causing it, and the fix involves reducing the number of commands/second.  Adding in meatpacker (if your firmware supports it) also helps, and the buffer buddy plugin.  With all 3, slowdown

[2021-06-03 16:33] ssombra commented on #67
I will need to look into meatpacker and the buffer buddy... I don't know what they are, but I am in for anything that helps reducing those issues. Thank you.

[2021-06-10 03:05] soupkitchenfilms commented on #56
@EagleeyeKai what is your problem exactly?
I have the ArcWelder script in my PrusaSlicer folder (Original Prusa Drivers)
So the line I added to Post Processing is '/Applications/Original| Prusa\ Drivers/Arcwelder'
The one gotcha is you need to right click and open the ArcWelder executable from the finder the first time so that you can tell the Mac OS to trust the application.

[2021-06-16 13:24] tuncof opened #69 "Strange Gaps and Resultant Seams"
Hi ya,

To evaluate smoothness of transition between circular and linear regions properly, I did write a simple openscad script like that:

$fn=80;
r=20;
d=10;
module k(){translate([-d,0,0])cylinder(h=10,r=r,center=true);}
rotate([0,0,-20])union(){
k();mirror()k();
cube([2\*d,2\*r,10],center=true);}

Nothing fancy there, just two distanced halves of a cylinder with a height of 10mm and a radius of

[2021-06-16 15:03] FormerLurker commented on #69
Can you post the unprocessed and processed gcode please?  Thanks!

[2021-06-16 15:04] FormerLurker commented on #69
Ahh, nm.  I missed the link in tye email.  Saw it clearly on github, lol

[2021-06-29 23:52] ithinkido opened #70 "Processing non printer Gcode files"
I would like to process some Gcode for a pen plotter to reduce the code size and hopefully improve smoothness. I have tried with both the Windows and Linux versions, and although it appears that ArcWelder has successfully run, it does not seem to be creating any arc moves.The test file attached should be a good candidate for this.
Is it possible that ArcWelder only works on 3D printer gcode files

[2021-07-03 19:14] FormerLurker commented on #69
Sorry this took so long.  I ran both these through a more reliable visualizer for G2/G3, and the gcode paths look identical:

![image](https://user-images.githubusercontent.com/33363128/124364638-69559e80-dc08-11eb-806a-484390e5c27c.png)

However, seams can be the result of improper extrusion, which doesn't show up in any visualizer I've ever used.  I did notice this in the header:

[code]

Are yo

[2021-07-03 19:15] FormerLurker commented on #69
Oh, in the previous post, the left image is the unprocessed gcode, and the right image is the arcwelded code.

[2021-07-06 13:52] FormerLurker commented on #70
You are in luck!  I just finished a feature to encode travel moves (moves without any extrusion).  It needs more testing, but here are the results from processing the file you posted:

![image](https://user-images.githubusercontent.com/33363128/124611037-b028db80-de36-11eb-8ed1-fc24de3efca6.png)

Here is a side-by-side comparison of the tool paths:

![image](https://user-images.githubusercontent.c

[2021-07-06 14:17] FormerLurker commented on #67
Going to close this issue since it seems to be resolved (more or less).  Thanks for posting!

[2021-07-06 14:17] #67 closed

[2021-07-06 15:41] FormerLurker commented on #62
So, I've determined this issue could be a firmware interpolation issue.  If you would be so kind as to test this using 9999mm as the max radius setting and see if the problem goes away.

I appreciate your patience here considering it's been over 3 months!  This was a particularly nasty issue to debug.

[2021-07-07 01:03] just-jason commented on #70
Yes please, I definitely would like to try that out.

[2021-07-07 03:57] FormerLurker commented on #70
Check [here](https://github.com/FormerLurker/ArcWelderLib/actions/runs/1004732650) for the latest bin files.  If you want you can post your gcode and I can do a sanity check before you try it out.

[2021-07-07 03:58] FormerLurker commented on #70
Actually, i guess you will try the gcode you already posted, which I already reviewed, lol

[2021-07-07 13:39] just-jason commented on #70
For my use this is PERFECT. The tests I have done are working just as I had hoped. There will be a lot of pen plotter users happy about this. Thanks very much.

[2021-07-07 13:45] FormerLurker commented on #70
Hooray!  If you have time, could you post a pic of your finished plot?

[2021-07-13 21:02] just-jason commented on #70
Sorry fro the delay. A strange thing, I went to do a conversion again today, and I can not get Arcwelder to run. Very strange.

![image](https://user-images.githubusercontent.com/45034489/125524496-ae59a057-89a1-4065-adb2-2d6db7fe5d97.png)

[2021-07-13 21:29] FormerLurker commented on #70
Hmm..  I will look at the console app.  It LOOKS like I must have screwed something up.  Try adding a second parameter for giggles, like:

```ArcWelder.exe perlin.gcode perlin.aw.gcode```

and see what happens.  Otherwise I messed up configuring TCLAP for the new parameters.

[2021-07-13 22:33] just-jason commented on #70
Still the same

[2021-07-13 22:54] FormerLurker commented on #70
Ok, will do my best to reproduce and fix.  Might take a few days depending.  Thanks!

[2021-07-16 12:02] fieldOfView opened #72 "`default_xyz_precision` and `default_e_precision` set to 6 if specified"
Specifying the `--default_xyz_precision` or `--default_e_precision` options always results in a value of 6 being used.

In https://github.com/FormerLurker/ArcWelderLib/blob/master/ArcWelderConsole/ArcWelderConsole.cpp#L135 and https://github.com/FormerLurker/ArcWelderLib/blob/master/ArcWelderConsole/ArcWelderConsole.cpp#L141, the `--default_xyz_precision` or `--default_e_precision` options are def

[2021-07-16 13:28] FormerLurker commented on #72
Will check this out today, thanks for reporting!

[2021-07-16 17:41] FormerLurker commented on #72
You are 100% correct.  And there were more issues hiding in there.  I just made a ton of changes, and have been testing almost exclusively via the OctoPrint app.  I'm working on some of the other stuff  now, and will post back once this is resolved.

[2021-07-16 21:08] FormerLurker commented on #72
Ok, I just pushed a fix to devel.  I've got more testing to do, but I think this issue is solved.

[2021-07-16 21:10] FormerLurker commented on #70
Ok, this was totally my fault, lol!  Try [the builds here](https://github.com/FormerLurker/ArcWelderLib/actions/runs/1038801249), which I think should work much better.

[2021-07-17 10:52] just-jason commented on #70
Looking good now. I was confused at first as the info stats did not show any converted arcs , but the end file has been converted so I would call that a success.
![image](https://user-images.githubusercontent.com/45034489/126034606-60c744eb-b13d-4949-8e92-9933845aab17.png)
[spiral.nc.txt](https://github.com/FormerLurker/ArcWelderLib/files/6834605/spiral.nc.txt)

[2021-07-17 13:11] FormerLurker commented on #70
I will look at that issue as well. It is a work in progress ☺️

[2021-07-17 15:14] FormerLurker commented on #70
Ok, [this](https://github.com/FormerLurker/ArcWelderLib/actions/runs/1040527558) should fix the statistics display issue.

[2021-07-18 12:48] just-jason commented on #70
Perfect !!!
[code]

[2021-08-07 09:39] DarkAlchy opened #73 "PARSE ERROR: Argument: -r (--resolution-mm) Couldn't find delimiter for this argument! when used in Powershell on Windows 10."
Following a video from January and I typed what he typed for the -r command, and it crapped out.

PS E:\Downloads\Windows-MSVC\bin> .\arcwelder.exe -r=.1 body26568.gcode b-aw.gcode
PARSE ERROR: Argument: -r (--resolution-mm)
             Couldn't find delimiter for this argument!

Powershell is the cmd (console) replacement that Microsoft has been heavily trying to get people over to it.

[2021-08-11 17:28] FormerLurker commented on #73
Hi @DarkAlchy, sorry for the delayed response!  I was out of town last week, and am still playing catch-up!

I am familiar with powershell, but haven't tried it with ArcWelder.  I use a third party argument library called TCLAP to parse the command line arguments.  I will take a look at this ASAP, but for the time being, maybe try -r=0.1?  Also, can you grab the version number of the arcwelder.exe

[2021-08-11 20:51] DarkAlchy commented on #73
The r value is irrelevant as it simply will not parse it.     Version: 1.1.0, Branch: HEAD, BuildDate:   2021-01-24T20:19:26Z

[2021-08-11 22:02] DarkAlchy commented on #73
I bet so.  I have seen this before many years ago where the command used was actually a command for the interpreter.  I wonder if TCLAP has something internal that uses -r?  It takes the long form so it is something with -r though I only used that so might be more than just that command too.

Thank you.

[2021-08-11 22:03] FormerLurker commented on #73
I appreciate the report, and will add a note about this in the help.  I will test the other parameters too.

[2021-08-21 19:55] CRCinAU opened #74 "Possible issue with print output after being processed by ArcWelder"
Re: https://github.com/MarlinFirmware/Marlin/issues/22571

Could this issue in Marlin be why I see this on certain prints?

![image](https://user-images.githubusercontent.com/3992884/130333427-0db78b35-a318-434d-b838-e1f9ea56b654.png)

I'm not sure what else would cause the differences in the edge...

[2021-08-21 20:58] FormerLurker commented on #74
You are awesome 😎!  I obviously have lots on my plate, as you know, but will be be responding in detail with a few questions here soon.

[2021-08-22 07:46] CRCinAU commented on #74
Not awesome at all - these things are *waaaaay* above my head - but dumbing it down to me to understand, I think I understand the from a 10,000 mile high view.

As its likely to help, I'll attach:
STL: [Stand_1.stl.zip](https://github.com/FormerLurker/ArcWelderLib/files/7026735/Stand_1.stl.zip)
Sliced G-Code from PrusaSlicer 2.3.3: [Stand_1_0.2mm_PLA.zip](https://github.com/FormerLurker/ArcWelderL

[2021-08-22 07:48] CRCinAU commented on #74
Ah - also, current config for that run might help:
![image](https://user-images.githubusercontent.com/3992884/130346871-60d8b629-915f-4127-a470-be5d90f12ee1.png)

[2021-08-23 13:48] FormerLurker commented on #74
Hey, can you post your marlin config (the adv) file?  This could be firmware settings related.

[2021-08-24 05:04] CRCinAU commented on #74
I don't have a copy of it for what I've built - however the base would have been from here:
https://github.com/MarlinFirmware/Configurations/blob/bugfix-2.0.x/config/examples/Creality/Ender-3/BigTreeTech%20SKR%20Mini%20E3%202.0/Configuration_adv.h#L2057

As such, those ARC settings would be used.

[2021-08-24 13:50] FormerLurker commented on #74
So you just enabled arc support and left the defaults in there?

[2021-08-24 20:14] CRCinAU commented on #74
Yep - I don't normally know what these do in detail, so I leave the defaults...

[2021-08-24 20:28] FormerLurker commented on #74
Ok, I did try all these files out, and I'm not sure what's going on.  The toolpaths look perfectly fine.  I can't tell from your pic if this is a toolpath problem, or an over/under extrusion issue.  Can you remember when you built this version?  Perhaps the algorithm has changed somewhat since you flashed it?

[2021-08-24 20:29] CRCinAU commented on #74
Yep - it was built on Aug 10 2021 01:53:14 from bugfix-2.0.x

[2021-08-24 20:32] FormerLurker commented on #74
Well darn.  That's pretty recent....  And you're using relative extrusion.  Have you printed the original (no g2/g3) gcode, and did it come out the same?

[2021-08-24 20:32] FormerLurker commented on #74
OH, and sorry for the flurry of questions.   These issues are often pretty perplexing.  Sometimes I figure out what's going on, lol!

[2021-08-24 20:34] CRCinAU commented on #74
To be honest, I haven't printed the non-AW'ed version - as my printing pipeline is basically PrusaSlicer -> Octoprint and then automatic AW processing.

Would it be helpful to try the same output with the same non-AW gcode posted here and see what happens?

[2021-08-24 20:47] FormerLurker commented on #74
I hate to ask, but yes it would be very helpful.  If the same artifacts show up, then we can at least rule out arcwelder.  If they don't appear, it will be back to the drawing board.

[2021-08-24 23:55] CRCinAU commented on #74
It's printing now - so it'll take a few hours.... I think I might have reduced the feed rate on the original print I did, but as this seems to be sticking fine, I'm just letting it go at 100%...

[2021-08-25 03:46] FormerLurker commented on #74
Woot!  This is an ideal example of how a GitHub issue should work!  Thank you!  Am anxiously awaiting the results.

[2021-08-25 07:22] CRCinAU commented on #74
Well, not really - as after printing the non-AW processed file, it still has similar notches:

![image](https://user-images.githubusercontent.com/3992884/130744538-c731e447-e706-4c5c-9145-9709b531ca99.png)

It does look like each of the 'notches' are level with par of the hex pattern in the rest of the print - as such, it probably isn't an AW issue....

I don't exactly know what it could be... May

[2021-08-28 01:09] stevenhu70 commented on #55
Firstly - I'm a relative noob when it comes to more advanced slicing. I do some designing (F360) and printing (CR-10s Pro V2). I have never had problems I can't work out before... however a recent print using some very large (approx 20cm diameter circular arcs) was causing zits.

I was ecstatic when I found ArcWelder and immediately installed the plugins for Cura and OctoPrint.

My first test was

[2021-08-30 13:55] FormerLurker commented on #55
@stevenhu70, This is likely the result of some firmware issues.  Can you post your firmware version?

[2021-08-30 21:06] stevenhu70 commented on #55
OK... so I managed to install the Octopi plugin version v1.1.0rc2 and can now see the firmware compatibility (this had me confused for a little while). Now I can see that the firmware checker believes there is a problem:

Name:Marlin
Version:2.0.5_DW6.2
Supported:No
Arcs Supported:Yes
3D-Arcs Supported:Unknown
Arcs Enabled:Yes
Warnings:
Your firmware version indicates that it is not supported, but

[2021-08-30 21:17] FormerLurker commented on #55
You can leave it here.  It doesn't really matter to me :)

I would recommend you update the firmware.  Starting with 2.0.6, arc support was improved a lot.  Specifically I believe the slowdowns could be caused by the junction deviation algorithm (not 100% sure there), and I think that was addressed in a newer version.  Anyway, it's always nice to have the latest firmware goodies :)

[2021-08-30 23:22] stevenhu70 commented on #55
Nailed it. The TinyMachines firmware based on 2.0.9 seems to have fixed the issue I was having.  I'm going to do a test print overnight tonight just to confirm... but it seems to be good (based on two layers of a model I was printing that exhibited the problem.

As a bonus the auto bed levelling (BLTouch) with the new firmware is a lot faster. Winner winner chicken dinner!

New report from ArcWeld

[2021-08-30 23:27] FormerLurker commented on #55
Of course!!! I may ask you to send a gcode to your printer to get a response if you don't mind.  Will get to that tomorrow, and I can add it to the firmware list.

Glad you got this solved, and glad your bed leveling is faster!!!  Bonus :)

[2021-09-01 00:17] stevenhu70 commented on #55
Just let me know if you want me to do anything.... I'll be happy to help.

[2021-09-18 18:28] #44 closed

[2021-10-16 20:02] bthekid opened #76 "Octoprint + Arcwelder + Save to SD = no good"
What happened:
Prepare gcode using cura 4.11.0
Send to octoprint using the cura "print with octoprint" option
Save to SD is enabled
Octoprint receives the command and begins writing
Arc-welder plug in pops up that it has welded xxxx amount of arcs

Result:
Gcode that is created does not use arcwelder until xxxx lines into the program

I noticed octoprint not sending or receiving anything and went

[2021-10-28 15:35] docwilco opened #77 "First layer already has weird zigzags"
I'm not sure what the best way to report these is, but I made a body that has what should be very close to straight lines, but after an AW pass, the printer makes very weird zigzags on the first layer. I use AW straight from Cura, so not sure what to provide other than the 2 GCode files, which I have attached.

I didn't print past the first layer, because I didn't want to waste filament.

[arcweld

[2021-11-27 08:44] slrAU opened #80 "ArcWelder console app for Windows removing perimeters for Klipper GCode."
Hi there,

Thanks for creating the ArcWelder tool. It is a really great concept and seems strange that none of the slicers are able to optimise gcode this well. From the very limited testing I've done it vastly decreases both file size and commands. The trouble is, each time I use it, all of the perimeters are removed from the models, which leaves me with some very rough-looking output. The next t

[2021-11-27 14:54] FormerLurker commented on #80
Hi!  This is maybe the most courteous issue I've ever received :)

So, I took a look at the gcode.  The left image is the original gocde file, and the image on the right is the welded file from your zip:

![image](https://user-images.githubusercontent.com/33363128/143685974-63023891-199b-445e-9cc1-1a2d97ad6bc7.png)

Have you tried printing this file?  My guess would be (and this is EXTREMELY commo

[2021-11-27 16:17] FormerLurker commented on #80
FYI, I added information regarding working visualizers [here](https://github.com/FormerLurker/ArcWelderLib/#gcode-visualizers-that-do-not-support-g2g3-commands).

[2021-11-28 00:29] slrAU commented on #80
Hi again and thanks for such a fast and thoughtful response.

I really should have mentioned that I did indeed try to print the model. I let the printer run through a couple of layers first before concluding that the output was going to be exactly the same as the visualizer.

Interestingly I ran across [this issue](https://github.com/supermerill/SuperSlicer/issues/1456) on the SuperSlicer Github w

[2021-11-28 08:17] FormerLurker commented on #80
Not a problem.  I will look into klipper config and see if maybe I can assist getting arcs working for you

[2021-11-28 10:04] slrAU commented on #80
I found it!

It was a combination of my poor eyesight and a subtle typo in the end. I'd transposed a couple of letters in the Klipper config file  which effectively left the arcs feature "disabled".  I'm running a test print now and it seems to be obeying the commands well, so I'd say the issue is resolved. Sad to say Human Error the cause! I keep telling my kids to take a step back and have anoth

[2021-11-28 10:04] #80 closed

[2021-11-28 19:12] CmdrCody51 opened #81 "[FR] Add switch to place comment at end of G2/G3 to show number of G1/G0 moves 'absoe"

[2021-11-28 20:41] FormerLurker commented on #81
Interesting.  Can I ask why you want to see this?

[2021-11-28 21:31] CmdrCody51 commented on #81
Oh great - it didn't (or I didn't) save my comment......
I would like a command line switch to add a comment to the Arc commands counting the number of linear moves replaced by the arc. I use ArcWeldLib as a stand alone script from SuperSlicer so I can't really have any stats. I think it would be easier to fine tune the paramerters if I knew how well ArcWeldLib is running. OctoPrint strips comment

[2022-01-13 13:32] fieldOfView opened #85 "Windows binaries not statically built"
The Windows builds of version 1.1.1 and 1.2.0 are statically built (ie: it depends on the visual c++ runtime). This causes the binaries to fail with a returncode 3221225781 on systems where the right version of the visual c++ runtime is not installed.

The 1.1.0 build was statically built, so it runs regardless of whether the visual c++ runtime is installed.

[2022-01-13 13:35] FormerLurker commented on #85
Dang, I thought I had fixed this!  I will fix.  Been stuck working on a project for a client with a super tight deadline since the end of November, but It is nearing completion.  I will try to knock out the release this weekend.  It is super close anyway.

[2022-01-13 13:40] fieldOfView commented on #85
No problem, take your time. I'm just reporting it so you can fix it for 2.0.

[2022-03-17 19:19] tasmaine commented on #33
I've spent more than a week trying to get G5 to work properly on my Creality CR6-SE.  I did recompile the community firmware (Thx Sebastian Damann) to enable the G5 command, but after dealing with a different extrusion rate, I still could not get it to function.  I've given up for now, but part of my confusion stems from the documentation on marlinfw.org.  For the G5 command, the section under NOT

[2022-04-22 20:04] ignisf commented on #74
Hi @CRCinAU, the bug you mentioned seems to be fixed in Marlin. Are you still experiencing the issue? (I am investigating an issue of my own which may or may not be this)

[2022-04-22 21:04] ignisf commented on #74
@FormerLurker, what is your preferred tool to review toolpaths with?

[2022-04-22 23:22] FormerLurker commented on #74
I use sumplify3d stand alone, ncviewer.com (some gcode modification may be required) for layer-by-layer analysis, and pretty gcode viewer for octoprint.

Also, this issue is common in marlin 1 forks, solved in latest marlin 2, if it is what I think it is.

[2022-04-23 03:25] CRCinAU commented on #74
Honestly, I forgot all about this and don't remember where I got to....

I figured that if it was happening without processing with AW, then its not related to AW...

[2022-04-26 14:47] FormerLurker commented on #85
So, I'm finally able to continue working on things.  This is my next priority.  Just wanted to let you know.

[2022-04-26 14:50] FormerLurker commented on #76
I know this issue is very old, and I apologize for not getting to it.  However, I have worked on similar issues where 'print with octoprint' is enabled in cura.  I am working with the plugin author to add detection to arcwelder that can bypass welding in this case.

Might I suggest as a temporary solution that you install the arcwelder plugin for cura, and disable automatic conversion in the Arc W

[2022-04-26 14:52] FormerLurker commented on #81
FYI, I've added statistics output to the latest branch.  I've got things separated out to:

Total segments converted
Extrusions converted
Retractions converted
Travel moves converted

However, not all of them display as of now.  I'll update this issue once all of the output can be included.  There is a switch now to enable detailed statistics output.

Thank you for being patient!

[2022-04-26 14:53] FormerLurker commented on #63
I know it's been forever since you posted this, but can you let me know what printer/firmware you used for this print?  This issue may have finally been solved.

[2022-05-03 05:35] ghost commented on #81
Well now,  darn near forgot about this...
Actually I was looking for a per line break down kinda like:
G1 X100 Y100
G2 X110 Y110 I0 J-10 ; count 15

That way no extrusions would have no E.
I know ArcWeld works but some times an arc is not made when I think it should be.
Especially on brims.
Over all stats are good but I wanted something more granular.

[2022-05-23 19:48] ETE-Design commented on #85
@FormerLurker How is work going for now?

[2022-06-07 06:55] fabien commented on #70
I'm trying to use ArcWelder (1.2.0) using the CLI on macOS to prepare files for my CNC outfitted with a tangential knife cutting module (my controller handles the knife axis rotation automatically, I just feed it G1/G2/G3 instructions).

Even though my source files don't have any E codes, the G1 instructions are being output as G2/G3 - this is *without* the `--allow-travel-arcs` option (which I th

[2022-06-07 07:19] fabien opened #88 "[Request] Add full circle support"
As outlined [here](https://github.com/FormerLurker/ArcWelderLib/issues/70#issuecomment-1148269124) I'm using ArcWelder to prepare files for CNC cutting using a tangential knife. Apart from the former issue, the generated G2/G3 code looks pretty good.

However, perfect circles always have one larger arc (say, 90% - 95% of the perimeter) and end in a small arc or line segment. I don't think this wil

[2022-06-07 19:01] FormerLurker commented on #70
@fabien,

I believe I fixed the inverted option for ```--allow-travel-arcs```, but still need to add detection of the G01 as opposed to G1.  It's unfortunate that these are both valid commands, as this will increase parsing time for everyone :(.  However, compliance is compliance, so I'll get that working too.  Thanks for the report!

[2022-06-07 19:03] FormerLurker commented on #88
@fabien,

I may have to add an option for this, as full circles mess up 3d prints, resulting in an unacceptable overlap of filament.  There is actually code to prevent full circles in arcwelder currently.

I'll think about this, and will mark it as an enhancement (including changing the title).

Thanks!

[2022-06-07 19:18] FormerLurker commented on #85
Well, poorly.  I spent the several weeks out of town helping my mom and dad take care of my grandmother, who passed away during that time + funeral.  I'm totally OK, but this left me unable to finish this up.  I promise I've been working on this though, and will get it done.  I have some other projects I'd like to start as well, but need to get ArcWelder (priority 1 for arachne support) and Octola

[2022-06-07 19:31] fabien commented on #88
@FormerLurker I didn't know it was a feature ;) (to prevent full circles)

Looking forward to such an enhancement (an option like `--allow-circles`?) Thanks for this extremely useful lib/tool!

PS will you be releasing 2.0 sometime in the near future? Hoping [this](https://github.com/FormerLurker/ArcWelderLib/issues/85) will be resolved as well, as ultimately, I need to run it on Windows too.

[2022-06-07 20:06] FormerLurker commented on #88
You can use it on windows (that's what I use to develop the tool).   You just need to [install the c++ runtimes first](https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-170).

[2022-06-07 20:26] fabien commented on #88
I see, thanks. However, the build artifacts of the v.2 action have expired. Is there another place to I download the latest binaries?

[2022-06-07 20:48] FormerLurker commented on #88
Crap...  I tell you what, give me thru the weekend and I'll try to push a build up.  I'm in the middle of some modifications, and can't push the changes till those are finished.  Will try to get it even sooner if I can.

[2022-06-08 07:37] fieldOfView commented on #85
Glad to hear that. This may sound presumptuous, but take the time you need, there are more important things than code.

[2022-07-05 16:15] baileyji commented on #57
As part of closing out this you might consider adding some guidance about what the preferred "G90 Influences Extruder" setting should be here. I've had an very hard time trying to figure out what the fork provenance of this new firmware is.

[2022-09-13 20:21] ETE-Design commented on #88
@FormerLurker V2 seems to still be Expired :-( Can you upload it again?

[2022-10-27 15:31] kimstik commented on #13
FYI: https://github.com/AlliedToasters/circle-fit/pull/10